@model greenEnergy.ViewModel.pageContentVM


@{
    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";
    string heading = Model.dataList.SingleOrDefault(x => x.title == "heading").title2 == "" ? "heading text" : Model.dataList.SingleOrDefault(x => x.title == "heading").title2;
    string title = Model.dataList.SingleOrDefault(x => x.title == "title").title2 == "" ? " title text" : Model.dataList.SingleOrDefault(x => x.title == "title").title2;
    string description = Model.dataList.SingleOrDefault(x => x.title == "description").title2 == "" ? "your descriptoin pargraph will be here" : Model.dataList.SingleOrDefault(x => x.title == "description").title2;
    string buttonText = Model.dataList.SingleOrDefault(x => x.title == "buttonText").title2 == "" ? "View More" : Model.dataList.SingleOrDefault(x => x.title == "buttonText").title2;
    string buttonURL = Model.dataList.SingleOrDefault(x => x.title == "buttonURL").title2 == "" ? "#" : Model.dataList.SingleOrDefault(x => x.title == "buttonURL").title2;
    string mediaURL = Model.dataList.SingleOrDefault(x => x.title == "image").title2 == "" ?  "/webAssets/green/assets/imgs/about-1.jpg" : baseImage + Model.dataList.SingleOrDefault(x => x.title == "image").title2;

}

<section class="section-highlight about-area" style="margin-top: 0px;">
    <div class="custom-container">
        <div class="custom-row">
            <div class="content section-header-default-content">
                <div class="section-header">
                    <h4 class="subtitle">
                        <img src="~/webAssets/green/assets/imgs/star-shape.svg" alt="shape">
                        @heading
                        <img src="~/webAssets/green/assets/imgs/star-shape.svg" alt="shape">
                    </h4>
                    <h1 class="title">
                        @title
                    </h1>
                </div>

                <p style="line-height:30px;">@description</p>


                <a href="@buttonURL" class="theme-btn">
                    <span></span>
                    @buttonText
                </a>

            </div>
            <div class="right">
                <div class="img-box" data-aos="fade-left" data-aos-duration="1500">
                    <div class="img-box-inner">
                        <img class="myheight" src="@mediaURL" alt="about">
                    </div>
                    <img src="~/webAssets/green/assets/imgs/border-shape-2.png" alt="shape" class="border-shape">
                </div>
            </div>
        </div>
    </div>
</section>
@*<script>
        $(".video-popover").click(function(){

          $(this).removeClass("active")
        })
    </script>*@

