@model greenEnergy.ViewModel.partialSectionVM

@if (Model.itemModel != null)
{

    if (Model.itemModel.dataList != null)
    {
        if (Model.itemModel.dataList.Count > 0)
        {
    <section class="section-highlight story-area">
        <div class="custom-container">
            <div class="section-header">
                <h4 class="subtitle">
                    <img src="~/webAssets/green/assets/imgs/star-shape.svg" alt="shape">
                    TOP STORIES
                    <img src="~/webAssets/green/assets/imgs/star-shape.svg" alt="shape">
                </h4>
                <h1 class="title">Stay Informed with the Latest Happenings!</h1>
            </div>

            <div class="story-items">
                <div class="col" data-aos="fade-right" data-aos-duration="1500">
                    <div class="story-box">
                        <img src="~/webAssets/green/assets/imgs/bg-shape-3.png" alt="shape" class="shape">
                        <div class="img-box">
                            <img src="~/webAssets/green/assets/imgs/story-1.jpg" alt="Story">
                            <span class="meta-date">MARCH 04, 2024</span>
                        </div>
                        <div class="content-box">
                            <h4 class="subtitle">Good news</h4>
                            <h1 class="title"><a href="#">Good news: PV project Bizeneuille (Allier, France) wins CRE tender!</a></h1>
                            <ul>
                                <!--                                <li><i class="las la-check"></i> Expertise-driven Solutions</li>-->
                                <!--                                <li><i class="las la-check"></i> Agile and Adaptive</li>-->
                            </ul>
                            <div class="bottom-action">
                                <a href="#" class="theme-btn">
                                    <span></span>
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" data-aos="fade-up" data-aos-duration="1500">
                    <div class="story-box">
                        <img src="~/webAssets/green/assets/imgs/bg-shape-3.png" alt="shape" class="shape">
                        <div class="img-box">
                            <img src="~/webAssets/green/assets/imgs/story-2.jpg" alt="Story">
                            <span class="meta-date">FEBRUARY 29, 2024</span>
                        </div>
                        <div class="content-box">

                            <h4 class="subtitle">Germany</h4>
                            <h1 class="title"><a href="#">Big announcement for the Freudenberg project (Germany)</a></h1>
                            <ul>
                                <!--                                <li><i class="las la-check"></i> World Economy Growth</li>-->
                                <!--                                <li><i class="las la-check"></i> Expertise Advice</li>-->
                            </ul>
                            <div class="bottom-action">
                                <a href="#" class="theme-btn">
                                    <span></span>
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" data-aos="fade-left" data-aos-duration="1500">
                    <div class="story-box">
                        <img src="~/webAssets/green/assets/imgs/bg-shape-3.png" alt="shape" class="shape">
                        <div class="img-box">
                            <img src="~/webAssets/green/assets/imgs/story-3.jpg" alt="Story">
                            <span class="meta-date">FEBRUARY 12, 2024</span>
                        </div>
                        <div class="content-box">
                            <h4 class="subtitle">construction</h4>
                            <h1 class="title"><a href="#">Start of construction for Gardessen I</a></h1>
                            <ul>
                                <!--                                <li><i class="las la-check"></i> Fall and Rise of Unions</li>-->
                                <!--                                <li><i class="las la-check"></i> Stock Remainder</li>-->
                            </ul>
                            <div class="bottom-action">
                                <a href="#" class="theme-btn">
                                    <span></span>
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

        }
    }

}
<script>
    $(".video-popover").click(function(){

      $(this).removeClass("active")
    })
</script>

