body {
}
.menu-wrap nav > ul {
    gap: 40px;
}

.header-wrap .right {
    gap: 0px;
}
.menu-wrap nav > ul li > .dropdown{
    left:-100px;
}
.header-wrap .custom-row{
    justify-content:normal
}
.logo{
   
    width:15%
}
.flex1 {
    flex: 1
}
.hero-slider-thumbnail .thumb-content {
    border-radius: 20px;
    background-color: #eee
}
.swiper-pagination-bullet{
    border-radius:20px;
    background-color:#eee
}
.hero-slider-thumbnail {
    border-radius: 20px;
    background-color: #eee
}
.video-area .video-content-wrap .content{
    border-radius: 0 15px 15px 0
}
.service-box img{
    border-radius:15px
}
body{
    background-color:white !important;
}
.video-content-wrap{
    border-radius:15px
}
.hero-slider-wrap .slide-inner{
    border-radius:15px
}
.dropdown li a:hover::before{
    width:0 !important;
}
.menu-wrap nav > ul li > .dropdown li a:hover{
    padding-left:0 !important
}
.header-bar-wrap {
    
    padding: 5px 32px;;
    background: linear-gradient(90deg, rgba(21, 24, 88, 1) 0%, rgba(114, 73, 157, 1) 34%, rgba(179, 66, 159, 1) 60%, rgba(252, 179, 33, 1) 100%);
}
.introBanner {

    background: linear-gradient(90deg, rgba(21, 24, 88, 1) 0%, rgba(114, 73, 157, 1) 34%, rgba(179, 66, 159, 1)  100%);
    border-radius:15px;
    padding:45px 0


}
.service-area .section-header .left .title{
    color:white
}
.service-area .section-header .right p{
    color:white
}
.service-area {
    padding: 85px 0 5px 0;
}
.banner1{
    padding:0 65px 65px
}


#cookies-popup {
    position: fixed;
    bottom: 20px;
    left: 0px;
    width: 100%;
    background: #333;
    color: #fff;
    padding: 40px;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.9);
    z-index: 1000;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.5);
}

.btn-cont {
    display: flex;
    margin: 20px 20px;
}

#cookies-popup p {
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-cont button {
    background: #fff;
    color: #333;
    border: none;
    width: 50%;
    padding: 8px 20px;
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
    border-radius: 4px;
}

.btn-cust {
    padding: 15px 30px;
    font-weight: bold;
    color: #333;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
}

button:hover {
    background-color: rgba(196, 218, 214, 0.76);
}
.service-box .service-img {
    pointer-events: none;
}
.about-area .right::before {
    background-color: rgb(114, 73, 157);
    background-size: contain;
    border-radius: 15px;
    background-image:unset;
    width:700px
    
}
.about-area .left::before {
    background-color: rgb(114, 73, 157);
    background-size: contain;
    border-radius: 15px;
    background-image: unset;
    width: 700px
}
.theme-btn span {
    border-radius: 0 15px 0;
}
.about-area .img-box .border-shape {
    pointer-events: none;
    border-radius:15px
}
.story-area {
    padding: 70px 0 155px 0;
}
    .story-area .section-header {
        margin-bottom: 30px;
    }
.story-box .img-box img{
    border-radius:15px
}
.story-box{
    border-radius:15px
}
.gallery-box .gallery-content {
    background-image: none;
    background-color: rgb(114, 73, 157,0.9);
    border-radius:15px
}
.hero-slider-wrap .swiper-slide {
    border-radius: 15px
}
.service-box .service-img{
    height:unset;
}
.quote-now-btn {
    background-image: none;
    background-color: rgb(114, 73, 157,0.9);
    border-radius: 15px
}
.about6-area .left img {
    pointer-events: none;
    border-radius: 15px
}

.gallery-box > img{
    border-radius:15px;
}
.about-area .img-box img:not(.border-shape) {
    border-radius: 15px;
    pointer-events: none;
}

.hero-slider-wrap{
    margin-bottom:50px
}
.about6-area {
    padding: 50px 0;
}
.team3-area{
    padding-top:unset
}
    .team3-area .teams-wrap .team-slide-box img{
        border-radius:15px
    }

.faq-area .custom-row .right img {
    pointer-events: none;
    border-radius: 15px
}
.about2-area .right-content img, .about2-area .left-content > img {
    border-radius: 15px
}
.hero-slider-thumbnail .swiper-pagination-bullet-active.thumb-content {
    background: rgb(114, 73, 157);
}
.hero-slider-thumbnail .thumb-content span {
    color: black
}

.demo-footer-area, .footer-area {
    background-image: none;
    background-color: rgb(114, 73, 157,0.9);
}
.hero-style-1 .swiper-slide.slide-bg-image .slide-inner:before {
    background-image: unset
}
