
  @model greenEnergy.ViewModel.sectionParent

    <section class="hero-slider-wrap hero-style-1">
        <div class="swiper-container hero-slide-container">
            <div class="swiper-wrapper">

                @foreach (var item in @Model.dataList)
                {

                    <div id="@item.title" class="swiper-slide slide-bg-image">
                        <div class="slide-inner">
                            <div class="hero-slide-content-wrap">
                                <div class="hero-slide-content">
                                    <!--                                    <h4 class="slide-subtitle">-->
                                    <!--                                        Green Energy-->
                                    <!--                                    </h4>-->
                                    <h1 class="slide-title">
                                        @item.title
                                    </h1>
                                    <p class="slide-content">
                                        @item.description
                                    </p>
                                    <div class="btn-box">
                                        <a href="#" class="theme-btn">
                                            <span></span>
                                            EXPLORE
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end slide-inner -->
                    </div>
                    <script>
                        $(document).ready(function () {
                            document.getElementById('hero').style = 'font-size: 12rem;';
                        })
                    </script>
                }

                <!-- Start swiper-slide -->
                <div class="swiper-slide slide-bg-image2">
                    <div class="slide-inner">
                        <div class="hero-slide-content-wrap">
                            <div class="hero-slide-content">
                                <!--                                    <h4 class="slide-subtitle">-->
                                <!--                                        ACCELERATED GROWTH-->
                                <!--                                    </h4>-->
                                <h1 class="slide-title">
                                    ALL FROM A SINGLE SOURCE
                                </h1>
                                <p class="slide-content">
                                    As an investor in the field of renewable energies, Green Energy 3000 Holding can
                                    rely on many years of international experience in the areas of site selection and
                                    acquisition, planning and project planning, purchasing and financing, construction
                                    as well as technical and commercial management including maintenance services.
                                </p>
                                <div class="btn-box">
                                    <a href="#" class="theme-btn">
                                        <span></span>
                                        EXPLORE
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end slide-inner -->
                </div>
                <!-- Start swiper-slide -->
                <div class="swiper-slide slide-bg-image3">
                    <div class="slide-inner">
                        <div class="hero-slide-content-wrap">
                            <div class="hero-slide-content">
                                <!--                                    <h4 class="slide-subtitle">-->
                                <!--                                        ACCELERATED GROWTH-->
                                <!--                                    </h4>-->
                                <h1 class="slide-title">
                                    INVEST IN THE FUTURE
                                </h1>
                                <p class="slide-content">
                                    Our investments are intended to promote the global expansion of renewable energies.
                                    We also enable private investors, fund companies and institutional investors to
                                    successfully participate in the energy transition.
                                </p>
                                <div class="btn-box">
                                    <a href="#" class="theme-btn">
                                        <span></span>
                                        EXPLORE
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end slide-inner -->
                </div>
                <!-- end swiper-slide -->
            </div>
            <!-- end swiper-wrapper -->
        </div>
        <div class="hero-slider-thumbnail">
            <div>
                <div class="thumb-content">
                    <span>INFINITE ENERGY</span>
                    <h1>EXPLORE</h1>
                </div>
            </div>
            <div>
                <div class="thumb-content">
                    <span>ALL FROM A SINGLE SOURCE</span>
                    <h1>EXPLORE</h1>
                </div>
            </div>
            <div>
                <div class="thumb-content">
                    <span>INVEST IN THE FUTURE</span>
                    <h1>EXPLORE</h1>
                </div>
            </div>
        </div>
    </section>