.margin-bottom-section {
    margin-bottom: 70px;
}

.margin-left-section {
    margin-left: 70px;
}

.web-text-main-responsive {
    font-size: 20px;
}

.web-banner-1 {
    margin: 0px 350px;
}

.web-banner-2 {
    margin: 20px 235px;
}

.web-banner-4 {
    margin: 20px 153px;
}

.web-box-style {
    font-size: 20px;
    box-shadow: 0 3px 12px rgb(70 72 77 / 9%);
    padding: 42px;
    margin: 35px 170px;
    border-radius: 15px;
}

.web-banner-2-2 {
    position: relative;
    left: 8rem;
}

.web-title-2 {
    text-align: center;
    margin: 50px 560px;
    box-shadow: 0 3px 12px rgb(70 72 77 / 9%);
    padding: 30px;
    border-radius: 10px;
}

.web-banner-3 {
    margin: 90px 320px;
}

.supect-font {
    font-family: IRANSansMobile;
}

.dev-lang-style-1 {
    position: relative;
    right: 69px;
}

.dev-lang-style-2 {
    position: relative;
    right: 156px;
}

.dev-lang-style-3 {
    position: relative;
    right: 247px;
}

.anti-radus {
    border-radius: initial !important;
}

.light-box-style {
    text-align: center;
    box-shadow: 1px 1px 10px;
    border-radius: 10px;
    margin: 0 650px;
    padding: 20px;
}

.light-box-style-2 {
    text-align: center;
    margin: 30px 650px;
    background: ghostwhite;
    padding: 20px;
}

.light-box-style-3 {
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 10px;
    margin: 10px 562px;
    border-radius: 10px;
}

.lang-desc {
    font-size: 16px;
}

.light-box-style-4 {
    margin: 59px 350px;
    box-shadow: 1px 1px 9px 1px;
    padding: 44px;
    line-height: 43px;
    border-radius: 10px;
    text-align: justify;
}

.light-box-style-4 {
    margin: 20px 150px;
    text-align: right;
    box-shadow: 1px 1px 10px;
    border-radius: 10px;
    line-height: 53px;
    padding: 40px;
    font-size: 21px;
}

.box-style-1 {
    margin: 75px;
}

.box-style-2 {
    text-align: center;
    background: whitesmoke;
    margin: 0 650px;
    padding: 20px;
}

.box-style-3 {
    margin: 75px 354px;
}

.light-box-style-5 {
    text-align: center;
    background: ghostwhite;
    padding: 30px;
    margin: 20px 450px;
    border-radius: 10px;
}

.baanner-min-style {
    position: relative;
    top: 203px;
}


.light-box-style-6 {
    text-align: center;
    padding: 30px;
    margin: 10px 642px;
    box-shadow: 2px 3px 8px;
    border-radius: 20px;
}

.desc-box {
    margin: 0 450px;
}

.light-box-style-7 {
    text-align: center;
    padding: 20px;
    line-height: 49px;
    box-shadow: 0 0 5px 0;
    margin: 10px 266px;
    border-radius: 6px;
}

.title-style-responsive {
    text-align: justify;
    font-weight: 500;
}

.title-responsive {
    text-align: center;
    background: gainsboro;
    padding: 20px;
    margin: 59px 510px;
    border-radius: 9px;
}

.light-box-style-8 {
    box-shadow: 0 0 7px 0;
    padding: 20px;
    border-radius: 20px;
    text-align: justify;
    margin: 0 255px;
}

.advice-style-responsive {
    margin: 70px 354px;
}

.light-box-style-9 {
    margin: 30px 0 30px 433px;
    text-align: center;
    font-weight: 600;
    padding: 26px;
    box-shadow: 1px 2px 16px 1px;
    border-radius: 10px;
}

.advice-style-responsive-2 {
    margin: 70px 74px;
}

.title-responsive-2 {
    margin: 2rem
}

.box-responsive {
    margin: 0 350px
}

.web-banner-blue {
    margin: 40px 80px 10px 80px;
    background: #E7ECFD;
}

.key-blue-box {
    position: relative;
    left: 1rem;
}

.key-blue-box-2 {
    position: relative;
    right: 10rem;
}

.startup-img-responsive {
    position: relative;
    top: 203px;
}

.setup-startup-responsive {
    margin: 45px 350px;
}


.light-box-style-10 {
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 5px 0;
    margin: 10px 350px;
    border-radius: 8px;
}

.ads-key {
    position: relative;
    left: 1rem;
}

.web-banner-blue-2 {
    margin: 40px 348px 10px;
    background: #E7ECFD;
    box-shadow: 0 3px 12px rgb(70 72 77 / 9%);
}

.voip-apk-responsive {
    margin: 20px 23rem;
}

.setup-voip {
    margin: 13rem;
}

.margin-bottom-style {
    margin-bottom: 30px;
}

.text-box-stream {
    position: relative;
    top: 66px;
}

.padding-style {
    padding-bottom: 81px;
}

.light-box-style-11 {
    box-shadow: 1px 0 10px;
    padding: 20px;
    margin: 10px 293px;
    border-radius: 5px;
}

.light-box-style-12 {
    text-align: center;
    margin: 0px 305px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 4px 7px 17px;
}

.ux-caption-style {
    padding-top: 50px;
    padding-bottom: 100px
}

.light-box-style-13 {
    box-shadow: 0 0 7px 0;
    padding: 20px;
    border-radius: 20px;
    text-align: justify;
}



/* استایل‌های پایه برای مسیر‌یاب (Breadcrumb) */
.breadcrumb {
    font-family: IRANSansMobile(FaNum);
    font-size: 14px;
    color: #777;
    display: flex;
    align-items: center;
    position: relative;
    right: 21rem;
    bottom: 2rem;
    font-weight: 500;
    top: -9px;
}

    .breadcrumb a {
        text-decoration: none;
        color: #777;
        margin: 0 5px;
    }

        .breadcrumb a:hover {
            color: #000;
        }

    .breadcrumb span {
        margin: 0 5px;
        color: #999;
    }

.error-style {
    text-align: center;
    margin: 150px 450px;
}

.error-style-title {
    margin-bottom: 77px;
    font-size: 120px;
}

.choose-file-style {
    margin: 16px 4px;
    padding: 12px;
}

.item-list {
    display: flex;
    margin: 2rem 20rem;
    padding: 0 25px;
}

.item-list-1 {
    display: flex;
    margin: 0rem 13rem;
    flex-wrap: wrap;
}

.item-list-items {
    margin-left: 100px;
    box-shadow: 0 3px 12px rgb(70 72 77 / 9%);
    border-radius: 4px;
}

.item-list-style {
    display: flex;
    justify-content: space-between;
    width: 100%
}

    .item-list-style span {
        margin: 0px;
        width: 20%;
        text-align: center;
        padding: 22px 7px;
        font-weight: 600
    }


.section2Parent {
    background-color: #f8f8f8;
    -webkit-box-shadow: 1px 6px 5px -6px #000000;
    box-shadow: 1px 6px 5px -6px #000000;
    border-radius: 0;
    margin: 70px 0
}
.breadItem {
    border-radius: 0;
    cursor:pointer
}
.borderleft {
    border-left: 1px solid
}

.vc_column_container > .vc_column-inner {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 21px;
}

.item-list-style-1 {
    display: flex;
    justify-content: space-between;
    width: 100%
}

    .item-list-style-1 span {
        margin: 0px !important;
        width: 20% !important;
        text-align: center !important;
        padding: 22px 7px !important;
        font-weight: 600 !important;
        display:flex;
        align-items:center;
        justify-content:center
    }

.drs-bcg {
    /*background-color: aliceblue;*/
    padding: 37px 20px;
}
.specialitySecion {
    background-color: #f7f7f7;
    box-shadow: 0 3px 12px rgb(70 72 77 / 9%);
}
.btn-style {
    width: 100%;
}

    .btn-style i {
        width: 34%;
        text-align: center;
    }
.vc_column-inner2 {
    box-sizing: border-box;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
/*فروش پلن*/
.pricing-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pricing-plan {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    margin:20px;
}

    .pricing-plan h2 {
        margin: 0 0 10px;
    }

.price {
    font-size: 24px;
    color: #333;
    margin-bottom: 76px;
}
.lands {
    font-size: 24px;
    color: #333;
    margin-bottom: 23px;
}

.features {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

    .features li {
        margin: 10px 0;
    }

.btn {
    background-color: #28a745;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

    .btn:hover {
        background-color: #218838;
    }

.flex-style {
    display: flex;
    justify-content: space-between;
    padding: 30px 217px;
}

/*فروش پلن*/


#paragraph-style {
    margin: 10px 25px;
    text-align: justify;
}

.request-style {
    margin: 40px 600px;
}

p {
    text-align: justify !important;
}


.background-webdesign-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 128px 10px;
    background-position: center;
}

.background-style {
    background-color: white;
    opacity: 1;
    padding: 60px;
}

.text-container {
    margin: 98px 226px !important;
}

#toggle-btn {
    background-color: #007bff !important;
    color: white !important;
    padding: 10px !important;
    border: none !important;
    cursor: pointer !important;
}

.button-style {
    position: relative;
    right: 95rem;
    bottom: 5rem;
}

#toggle-btn:hover {
    background-color: #0056b3 !important;
}

.index-boxs-style {
    font-size: 17px !important;
}

.index-box-padding {
    padding-top: 30px !important;
}

.faq-web-style {
    margin: 0 254px !important;
}

.price-style-box {
    display: flex;
    justify-content: space-between;
    padding: 20px 170px;
}

/* تنظیمات پاپ‌آپ */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.5s;
}

.popup-content {
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease;
}

.popup.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease;
}

    .popup.show .popup-content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

/* تنظیمات تیک سبز */
.checkmark-container {
    margin-top: 20px;
    display: none; /* پنهان به طور پیش‌فرض */
    position: relative;
    left: 110px;
}

.popup.show .checkmark-container {
    display: block;
    animation: fadeInCheck 0.5s ease-in-out forwards;
}



@keyframes fadeInCheck {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.checkmark {
    width: 1044px;
    height: 156px;
    display: block;
    stroke-width: 2;
    stroke: #4CAF50;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.checkmark-circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    animation: strokeCircle 0.6s ease-in-out forwards;
}

.checkmark-check {
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: strokeCheck 0.3s 0.6s ease-in-out forwards;
}

@keyframes strokeCircle {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes strokeCheck {
    100% {
        stroke-dashoffset: 0;
    }
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.popup-text-style {
    position: relative;
    top: 35%;
    right: 30%;
    font-size: 43px;
    font-weight: 500;
}

.popup-box-style {
    width: 45%;
    height: 50%;
}

/* jobs benefit*/
#benefits {
    text-align: center !important;
}

    #benefits p {
        text-align: center !important;
    }

.benefit-header-style {
    text-align: center;
    padding-top: 147px;
}

.benefits-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.benefit-item {
    width: 27%;
    margin: 27px;
}

    .benefit-item img {
        width: 80px;
        height: 80px;
    }

h2 {
    color: gray;
}

.benefit-title {
    font-size: 18px;
    margin-top: 15px;
}

/* jobs benefit*/
.faq-jobs-style {
    margin: 165px;
}

.job-title-style {
    color: gray !important;
    font-size: 1.35rem !important;
}

.form-style {
    margin: 166px 550px;
    padding: 50px 0;
}

.paragraph-style {
    margin: 10px 198px;
    text-align: justify;
    padding-bottom: 20px;
}
.seprator-style {
    margin: 0 328px;
    text-align: center !important;
    line-height: 53px;
    padding: 40px;
    font-size: 21px !important;
    box-shadow: 0 3px 12px rgb(70 72 77 / 9%);
    border-radius: 10px;
}

.seprator-style2 {
    margin: 0 328px;
    text-align: center !important;
    line-height: 53px;
    padding: 40px;
    font-size: 21px !important;
    border-radius: 10px;
}

.desc-style {
    padding-top: 50px;
    padding-bottom: 100px
}

.desc-content {
    margin: 0 50px 50px 50px;
}

.category-desc {
   text-align: center !important;
    padding: 40px;
    margin: 41px 176px;
    box-shadow: 0 3px 12px rgb(70 72 77 / 9%);
    font-weight: 700;
    border-radius: 13px;
}
.course-responsive {
    margin: 13rem;
}
.desc-lng{
    direction:ltr;
}
.lng-top {
    padding-top: 110px;
    padding-bottom: 80px;
}
.android-course-feture {
    margin: 75px 250px;
}
.margin-difference {
    margin: 100px;
}
.desc-style-2 {
    margin: 0 139px;
    text-align: justify;
}

.custom-margin-blogs{
    margin:154px;
}

.paddin-mode {
    padding-top: 50px;
    padding-bottom: 100px
}

.disp-style{
    margin: 74px;
    text-align: center;
    padding: 19px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px 1px;
}
.advice-style {
    box-shadow: 1px 2px 23px 4px;
    padding: 10px;
    border-radius: 8px;
    margin: 20px 240px;
}
.target-style {
    margin: 0 302px 0 302px;
}
.type-title {
    margin: 0 397px;
    box-shadow: 1px 1px 6px 2px;
    padding: 13px;
    border-radius: 13px;
}
.type-style {
    padding: 100px;
}

.text-box-style {
    margin: 20px 150px;
    text-align: center;
    padding: 40px;
    box-shadow: 0 0 5px 0;
    border-radius: 7px;
}

.head-mode {
    background: gainsboro;
    margin: 0 250px 0 250px;
    padding: 30px;
}
.req-form-style {
    margin-right: 62px;
}
.req-form {
    display: flex;
}
.req-form-model {
    width: 50%;
    margin-right: 77px;
}
.title-box {
    margin: 2rem;
}
@media only screen and (max-width: 1000px) {
    .item-list-1{
        margin :10px !important;
    }
    .item-list-style-1 span{
        flex:100%;
        margin:5px !important
    }
    .item-list-style-1 {
        flex-wrap: wrap;
    }
    .margin-box-mobile {
        margin: 15px !important;
    }
    .margin-bottom-section {
        margin-bottom: 20px;
       
    }

    .margin-left-section {
        margin-left: 70px;
    }
    .title-box {
        margin: 10px 0;
    }
    .req-form-model {
        width: 100%;
        margin:unset;
    }
    .req-form {
        display: contents;
    }
    .req-form-style {
        margin:17px 2px;
    }
    .vc_column_container > .vc_column-inner {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        padding: 15px;
    }

    .error-style {
        text-align: center;
        margin: 40px 9px;
    }

    /* تنظیمات تیک سبز */
    .checkmark-container {
        margin-top: 20px;
        display: none; /* پنهان به طور پیش‌فرض */
        position: relative;
        left: 363px;
    }
    .popup-text-style {
        position: relative;
        top: 35%;
        right: 7%;
        font-size: 43px;
        font-weight: 500;
    }
    .popup-box-style {
        width: 90%;
        height: 50%;
    }
    .head-mode {
        background: gainsboro;
        margin: 0 24px 0 24px;
        padding: 30px;
    }
    .text-box-style {
        margin: 20px 24px;
        text-align: center;
        padding: 40px;
        box-shadow: 0 0 5px 0;
        border-radius: 7px;
    }
    .type-style {
        padding: 24px;
    }
    .type-title {
        margin: 0 136px;
        box-shadow: 1px 1px 6px 2px;
        padding: 13px;
        border-radius: 13px;
    }
    .advice-style {
        box-shadow: 1px 2px 23px 4px;
        padding: 10px;
        border-radius: 8px;
        margin: 20px 24px;
    }
    .disp-style {
        margin: 24px;
        text-align: center;
        padding: 19px;
        border-radius: 10px;
        box-shadow: 1px 2px 4px 1px;
    }
    #paragraph-style {
        margin: 10px 29px;
        text-align: justify;
    }
    .custom-margin-blogs {
        margin: 28px;
    }
    .desc-style-2 {
        margin: 0 5px;
        text-align: justify;
    }
    .margin-difference{
        margin:0;
    }
    .android-course-feture {
        margin: 37px 20px;
    }
    .lng-top {
        padding-top: 43px;
        padding-bottom: 80px;
    }
    .desc-lng {
        direction:rtl;
        line-height:30px;
    }
    .course-responsive {
        margin: 1rem;
    }
    
    .footer-responsive-2 {
        position: relative;
        right: 94px;
    }
    .btn-responsive-2 {
        margin-left: 20px;
    }
    .btn-responsive {
        display: flex;
        position:relative;
        top:49px;
        width:236px;
    }
    .faq-web-style {
        margin: 0 12px !important;
    }
    .text-container {
        margin: 25px 15px !important;
    }
    .category-desc {
       text-align: center !important;
        padding: 40px;
        margin: 41px 10px;
        box-shadow: 0 3px 12px rgb(70 72 77 / 9%);
        font-weight: 700;
        border-radius: 13px;
    }
    .desc-content {
        margin: 0;
    }
    .background-webdesign-img {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 28px 10px;
        background-position: center;
    }
    .menu-title{
        display:none;
    }
    .desc-style {
        padding-top: 50px;
        padding-bottom: 0;
    }

    .heading-box-style {
        margin-top: 83px !important;
    }

    .style-banner {
        margin: 37px 13px !important;
    }

    .item-list-style span {
        margin: 5px;
        width: 26%;
        text-align: center;
        padding: 22px 7px;
        font-weight: 600
    }

    .button-style {
        position: relative;
        right: 16rem;
        bottom: 1rem;
    }

    .request-style {
        margin: 40px 98px;
    }

    .paragraph-style {
        margin: 10px 26px;
        text-align: justify;
        padding-bottom: 20px;
    }

    .pricing-plan {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;
        width: 300px;
        margin: 10px;
    }

    .price-style-box {
        display: block;
        justify-content: space-between;
        padding: 24px 12px;
        margin: 19px;
    }


    .btn-style {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .item-list {
        display: contents;
        
    }

    .breadcrumb {
        font-family: IRANSansMobile(FaNum);
        font-size: 14px;
        color: #777;
        display: flex;
        align-items: center;
        position: relative;
        right: 3rem;
        bottom: 2rem;
        font-weight: 500;
        top: 2px;
    }

    .faq-jobs-style {
        margin: 74px -84px;
    }

    .form-style {
        margin: 166px 46px !important;
        padding: 50px 0 !important;
    }

    .responsive-style {
        text-align: center !important;
    }

    .text-responsive {
        margin: 0 33px !important;
    }

    .web-text-main-responsive {
        font-size: 37px;
        text-align: justify;
        margin-right: 40px;
        margin-top: 30px;
    }

    .web-title-main-responsive {
        font-size: 65px;
    }

    .web-main-3-responsive {
        text-align: center !important;
        margin-top: 52px;
    }

    .web-main-3-text-responsive {
        margin: 0 22px;
    }

    .web-banner-1 {
        margin: 15px 23px;
    }

    .web-box-style {
        font-size: 20px;
        box-shadow: 0 3px 12px rgb(70 72 77 / 9%);
        padding: 42px;
        margin: 35px 3px;
        border-radius: 15px;
    }

    .web-tex-style-responsive {
        margin: 0 82px;
    }

    .web-banner-2 {
        margin: 0 12px;
    }

    .web-banner-2-2 {
        position: relative;
        left: 1rem;
    }

    .web-title-2 {
        text-align: center;
        margin: 50px 155px;
        box-shadow: 0 3px 12px rgb(70 72 77 / 9%);
        padding: 30px;
        border-radius: 10px;
    }

    .web-banner-3 {
        margin: 90px 24px;
    }

    .footer-responsive {
        display: flex;
    }

    .footer-outer-responsive {
        position: relative;
        top: 3rem;
    }

    .web-dec-responsive {
        display: block;
    }

    /*.row-inner-holder {
        flex-direction: column;
    }*/

    .dev-lang-style-1 {
        position: relative;
        right: 0px;
    }

    .dev-lang-style-2 {
        position: relative;
        right: 0px;
    }

    .dev-lang-style-3 {
        position: relative;
        right: 0px;
    }

    .light-box-style {
        text-align: center;
        box-shadow: 1px 1px 10px;
        border-radius: 10px;
        margin: 0 55px;
        padding: 20px;
    }

    .light-box-style-2 {
        text-align: center;
        margin: 30px 50px;
        background: ghostwhite;
        padding: 20px;
    }

    .light-box-style-3 {
        padding: 20px;
        text-align: center;
        box-shadow: 0px 4px 10px;
        margin: 10px 11px;
        border-radius: 10px;
    }

    .img-lang-style {
        width: 540px;
    }

    .lang-desc {
        font-size: 30px;
        margin-top: 33px;
    }

    /*.light-box-style-4 {
        margin: 59px 17px;
        box-shadow: 1px 1px 9px 1px;
        padding: 44px;
        line-height: 43px;
        border-radius: 10px;
        text-align: justify;
    }*/

    .light-box-style-4 {
        margin: 40px 17px;
        text-align: center;
        box-shadow: 1px 1px 10px;
        border-radius: 10px;
        line-height: 53px;
        padding: 40px;
        font-size: 21px;
    }

    .box-style-1 {
        margin: 64px 51px 0px;
    }

    .box-style-2 {
        text-align: center;
        background: whitesmoke;
        margin: 0 33px;
        padding: 20px;
    }

    .box-style-3 {
        margin: 34px 24px;
    }

    .paddin-mode {
        padding-top: 50px;
        padding-bottom: 24px
    }

    .light-box-style-5 {
        background: ghostwhite;
        padding: 30px;
        margin: 20px 24px;
        border-radius: 10px;
    }

    .baanner-min-style {
        text-align: center !important;
        position: initial;
    }

    .light-box-style-6 {
        text-align: center;
        padding: 30px;
        margin: 10px 24px;
        box-shadow: 2px 3px 8px;
        border-radius: 20px;
    }

    .desc-box {
        margin: 0 22px;
    }

    .section-start {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .light-box-style-7 {
        text-align: center;
        padding: 20px;
        line-height: 49px;
        box-shadow: 0 0 5px 0;
        margin: 10px 62px;
        border-radius: 6px;
    }

    .margin-style {
        margin-top: 40px;
    }

    .title-style-responsive {
        text-align: center;
        font-weight: 500;
    }

    .title-responsive {
        text-align: center;
        background: gainsboro;
        padding: 20px;
        margin: 30px 24px;
        border-radius: 9px;
    }

    .light-box-style-8 {
        box-shadow: 0 0 7px 0;
        padding: 20px;
        border-radius: 20px;
        text-align: justify;
        margin: 0 24px;
    }
    .target-style {
        margin: 0 24px 0 24px;
    }

    .number-responsive {
        position: relative;
        left: 348px;
    }

    .advice-style-responsive {
        margin: 70px 24px;
    }

    .advice-style-responsive-2 {
        margin: 42px 3px;
    }

    .light-box-style-9 {
        margin: 30px 0 30px 433px;
        text-align: center;
        font-weight: 600;
        padding: 26px;
        box-shadow: 1px 2px 16px 1px;
        border-radius: 10px;
    }

    .title-responsive-2 {
        margin: -8rem;
        margin-top: 53px;
        margin-bottom: 10px;
    }

    .box-responsive {
        margin: 0 1px
    }

    .web-banner-blue {
        margin: 40px 33px 10px 33px;
        background: #E7ECFD;
    }

    .key-blue-box {
        position: relative;
        left: 1rem;
    }

    .key-blue-box-2 {
        position: relative;
        right: 0rem;
    }

    .startup-img-responsive {
        position: relative;
        top: -8px;
        
    }

    .setup-startup-responsive {
        margin: 45px 24px;
    }


    .light-box-style-10 {
        text-align: center;
        padding: 20px;
        box-shadow: 0 0 5px 0;
        margin: 10px 24px;
        border-radius: 8px;
    }

    .ads-key {
        position: relative;
        left: 1rem;
    }

    .box-seprator {
        display: flex;
        flex-flow: column;
    }

    .box-style {
        background: border-box !important;
        box-shadow: 2px 1px 7px !important;
        margin: 25px !important;
        padding: 30px !important;
        line-height: 53px !important;
    }

    .web-banner-blue-2 {
        margin: 40px 39px 10px;
        background: #E7ECFD;
        box-shadow: 0 3px 12px rgb(70 72 77 / 9%);
    }

    .flex-responsive {
        display: flex;
        flex-flow: initial;
    }

    .voip-apk-responsive {
        margin: 20px 8rem;
    }

    .setup-voip {
        margin: 8rem;
    }

    .margin-bottom-style {
        margin-bottom: 60px;
    }

    .text-box-stream {
        position: relative;
        top: -11px;
    }

    .padding-style {
        padding-bottom: 26px;
    }

    .margin-right-style {
        margin-right: 138px;
    }

    .light-box-style-11 {
        box-shadow: 1px 0 10px;
        padding: 20px;
        margin: 10px 84px;
        border-radius: 5px;
    }

    .light-box-style-12 {
        text-align: center;
        margin: 0px 102px 40px;
        padding: 50px;
        border-radius: 10px;
        box-shadow: 4px 7px 17px;
    }

    .ux-caption-style {
        padding-top: 50px;
        padding-bottom: 4px
    }

    .light-box-style-13 {
        box-shadow: 0 0 7px 0;
        padding: 20px;
        border-radius: 20px;
        text-align: justify;
        margin: 0 24px;
    }

    .seprator-style {
        margin: 0 12px;
        text-align: justify !important;
        line-height: 40px;
        padding: 25px;
        font-size: 13px !important;
        box-shadow: 0 3px 12px rgb(70 72 77 / 9%);
        border-radius: 10px;
        font-weight:400;
    }
    .seprator-style2 {
        margin: 0 12px;
        text-align: justify !important;
        line-height: 40px;
        padding: 25px;
        font-size: 13px !important;
        border-radius: 10px;
        font-weight: 400;
    }
}
@media only screen and (max-width: 1200px) {
    .btn-style i {
        width: 43%;
        text-align: center;
    }

    .heading-box-style {
        margin-top: 83px !important;
    }

    .style-banner {
        margin: 37px 13px !important;
    }

    .item-list-style span {
        margin: 5px;
        width: 26%;
        text-align: center;
        padding: 22px 7px;
        font-weight: 600
    }

    .button-style {
        position: relative;
        right: 43rem;
        bottom: 4rem;
    }

    .request-style {
        margin: 40px 98px;
    }

    .paragraph-style {
        margin: 10px 88px;
        text-align: justify;
        padding-bottom: 20px;
    }

    .pricing-plan {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;
        width: 300px;
        margin: 10px;
    }

    .supect-benefit {
        background: rgba(21,22,27,.5);
        border-radius: 12px;
        content: "";
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .academy-category::before(2) {
        background: rgba(21,22,27,.5);
        border-radius: 12px;
        content: "";
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .price-style-box {
        display: block;
        justify-content: space-between;
        padding: 24px 12px;
        margin: 19px;
    }


    .btn-style {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .item-list {
        display: flex;
        margin: 3rem 4rem;
    }
}



