@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANSansWeb.eot');
    src: url('../fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/IRANSansWeb.ttf') format('truetype');
}


@font-face {
    font-family: Vazirmatn;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Vazirmatn-Medium.ttf') format('truetype'),
    url('../fonts/Vazirmatn-Medium.woff2') format('woff2'); /* FF39+,Chrome36+, Opera24+*/
}


@import url(fontiran.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
body {
    font-family: IRANSans !important;
    font-weight: 300;
    font-size: 13px;
    background-color: #E2E2E2;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, input, textarea, a, span {
    font-family: IRANSans !important;
}
p{
    font-family : IRANSans !important;
   
}

@media (max-width: 600px) {
    .fieldholder {
        width: 100% !important;
    }
}
