<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/misc/favicon.png">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        Green Energy 3000
    </title>
    <!-- Bootstrap Core CSS-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS-->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/font.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="~/Content/fontawesome-all.css" rel="stylesheet" />
    <link href="~/Content/font.css" rel="stylesheet" />
</head>
<body class="top" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Preloader-->
    <div id="preloader">
        <div id="status"></div>
    </div>


    <!-- Navigation-->
    <nav class="navbar navbar-unibody navbar-custom navbar-fixed-top" style="padding: 15px;">

        <div class="container" style="display: flex; align-items: center;justify-content:center;">
            <span class="subcidiary">Green Energy 3000 Holding</span>
            <span class="subcidiary">Green Energy 3000 Energy</span>
            <span class="subcidiary">Green Energy France SARL</span>
            <span class="subcidiary">Green Energy 3000 Project Manager</span>
            <span class="subcidiary">Green Invest 3000</span>
        </div>
        <div class="container" style="display: flex; align-items: center;">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" style="height: 75px; padding: 0px 15px;">
                    <!-- Text or Image logo-->
                    <img class="logo" src="img/logo.png" alt="Logo" style="max-height: 100%; margin-left: 30px; ">

                    <img class="logodark" src="img/logo.png" alt="Logo" style="max-height: 100%">


                </a>
            </div>


            <div class="collapse navbar-collapse navbar-main-collapse" style="flex:1; margin-right: 20px;">
                <ul class="nav navbar-nav navbar-left">
                    <li class="hidden"><a href="#page-top"></a></li>
                    <li>
                        <a class="firstLi" href="#">Home <span class="caret"></span></a>
                    </li>


                    <li>
                        <a class="firstLi" href="#">Services <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Project development</a></li>
                            <li><a href="#">Investment</a></li>
                            <li><a href="#">EPC</a></li>
                            <li><a href="#">Financing & Sales</a></li>
                            <li><a href="#">O&M</a></li>

                        </ul>
                    </li>


                    <li>
                        <a class="firstLi" href="#">Technologien <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Photovoltaic</a></li>
                            <li><a href="#">Agri PV</a></li>
                            <li><a href="#">Wind Energy</a></li>
                            <li><a href="#">Battery storage</a></li>
                            <li><a href="#">Hybrid systems</a></li>

                        </ul>
                    </li>


                    <li>
                        <a class="firstLi" href="#">Solutionsss <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="innerToggle has-submenu" href="#">Investors</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">smaple1</a>
                                    </li>
                                    <li><a href="#">sample 2 </a></li>
                                    <li><a href="#">sample 3</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Cities/municipalities</a></li>
                            <li><a href="#">Plant operator</a></li>
                            <li><a href="#">Landowner</a></li>
                            <li><a href="#">Banks</a></li>
                            <li><a href="#">Service providers</a></li>
                        </ul>
                    </li>


                    <li>
                        <a class="firstLi" href="#">News <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">News</a></li>
                            <li><a href="#">Download area</a></li>

                        </ul>
                    </li>


                    <li>
                        <a class="firstLi" href="#">Company<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">history</a></li>
                            <li><a href="#">Refrences</a></li>
                            <li><a href="#">Compliance</a></li>
                            <li><a href="#">Download area</a></li>
                        </ul>
                    </li>

                    <li>
                        <a class="firstLi" href="#">Career<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Who we are</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </li>


                    <li class="menu-divider visible-lg">&nbsp;</li>
                    <li>
                        <a class="firstLi" href="#">
                            Contact <span class="caret"></span>
                        </a>
                    </li>
                    <li class="visible-lg">&nbsp;</li>
                    <li>
                        <a class="firstLi" class="dropdown-toggle" href="#">
                            <i class="fa fa-search fa-lg"></i><span class="caret"></span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="firstLi" class="dropdown-toggle" href="#">
                            <span class="lang">Eng</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Deutsch</a></li>
                            <li>
                                <a href="#">English</a>

                            </li>

                            <li><a href="#">Français</a></li>
                        </ul>
                    </li>
                </ul>
            </div>


        </div>
    </nav>


    <!-- Intro Slider-->
    <header class="intro carousel carousel-big slide carousel-fade" id="Carousel-intro" data-ride="carousel">
        <!-- Indicators-->
        <ol class="carousel-indicators">
            <li class="active" data-target="#Carousel-intro" data-slide-to="0"></li>
            <li data-target="#Carousel-intro" data-slide-to="1"></li>
            <li data-target="#Carousel-intro" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('img/main/11.jpg');">
                    <div class="intro-body">
                        <h3 class="wow fadeInUp" data-wow-delay=".4s">Eco-Friendly Power</h3>
                        <h1 class="wow fadeInDown">UNLIMITED ENERGY</h1>
                        <h3 class="wow fadeInDown" data-wow-delay=".4s">Sustainable Solutions</h3><a class="page-scroll"
                                                                                                     href="#about">
                            <span class="mouse"><span><i class="icon ion-ios-arrow-down"></i></span></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/main/9.jpg');">
                    <div class="intro-body">
                        <h3 class="wow fadeInUp">Reliable Sources</h3>
                        <h1 class="wow fadeInDown">EVERYTHING FROM A SINGLE SOURCE</h1>
                        <ul class="list-inline">
                            <li>
                                <a class="btn btn-border btn-lg page-scroll wow fadeInLeft" href="#about">WHO WE ARE</a>
                            </li>
                            <li>
                                <a class="btn btn-white btn-lg page-scroll wow fadeInRight" href="#contact">CONTACT US</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/main/14.jpg');">
                    <div class="intro-body">
                        <a class="swipebox-video" href="https://vimeo.com/153485166" data-rel="video">
                            <h3 class="wow fadeInUp">Watch Video</h3>
                            <h1 class="wow fadeInDown">Our Story</h1><i class="icon icon-big ion-ios-play-outline wow fadeInUp"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls--><a class="left carousel-control" href="#Carousel-intro" data-slide="prev">
            <span class="icon-prev"></span>
        </a><a class="right carousel-control" href="#Carousel-intro" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>


    <!-- About Section-->
    <section class="section-small" id="about" style="background-color: #f7f7f7">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <p class="no-pad small">EST.2004</p>
                    <h3>Who We Are</h3>
                    <p style="text-align: justify; font-size:16px;">
                        Green Energy 3000 Holding GmbH is the umbrella organisation
                        of German and international companies working together on the energy transition. The group's range of
                        services includes project development, planning, financing, purchasing, construction and operational
                        management of wind and solar parks, hybrid plants with battery storage and agrivoltaics projects. Over
                        65 projects with a cumulative capacity of more than 350 MW have been realised since 2004.
                        The company has its headquarters in Leipzig (Germany). Other locations are in France (Lyon) and the
                        United Arab Emirates (Dubai).
                        As an employer, Green Energy 3000 values the diversity of talents and perspectives that employees from
                        over 20 nations bring with them. The team lives open and transparent communication and a working
                        environment in which creativity and innovation are encouraged.
                        Green Energy 3000 thus makes a significant contribution to the expansion of renewable energies and a
                        secure and independent energy supply.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <!-- Countries Section-->
    <section>
        <div class="container-fluid text-center wow fadeIn">
            <div class="row">
                <div class="col-md-2 col-md-offset-1 col-sm-6">
                    <h5 class="headerTitleCustom">Company Number one</h5>
                    <a href="#">


                        <img class="img-responsive center-block" src="img/team/avatar5.jpg" alt=""
                             style="border-radius: 20px;
                            background-image: linear-gradient(to top, rgba(179, 66, 152, 0), rgba(179, 66, 152, .8) 10%, rgba(114, 73, 157, .8));">


                    </a>
                    <p style="text-align: justify;margin-top: 20px;">
                        Lorem ipsum dolor sit amet, consecte adipiscin elit.
                        Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum mattis. Moralisuse ipsum
                        dolor
                    </p>
                </div>
                <div class="col-md-2 col-sm-6">
                    <h5 class="headerTitleCustom">Company Number two</h5>
                    <a href="#">
                        <img class="img-responsive center-block" src="img/team/avatar2.jpg" alt="" style="border-radius: 20px;">
                        <div style=" background-image: linear-gradient(to top, rgba(179, 66, 152, 0), rgba(179, 66, 152, .8) 10%, rgba(114, 73, 157, .8));">
                        </div>
                    </a>
                    <p style="text-align: justify; margin-top: 20px;">
                        Lorem ipsum dolor sit amet, consecte adipiscin elit.
                        Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum mattis. Moralisuse ipsum
                        dolor
                    </p>
                </div>
                <div class="col-md-2 col-sm-6">
                    <h5 class="headerTitleCustom">Company Number three</h5>
                    <img class="img-responsive center-block" src="img/team/avatar3.jpg" alt="" style="border-radius: 20px;">
                    <p style="text-align: justify; margin-top: 20px;">
                        Lorem ipsum dolor sit amet, consecte adipiscin elit.
                        Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum mattis. Moralisuse ipsum
                        dolor
                    </p>
                </div>
                <div class="col-md-2 col-sm-6">
                    <h5 class="headerTitleCustom">Company Number four</h5>
                    <img class="img-responsive center-block" src="img/team/avatar4.jpg" alt="" style="border-radius: 20px;">
                    <p style="text-align: justify; margin-top: 20px;">
                        Lorem ipsum dolor sit amet, consecte adipiscin elit.
                        Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum mattis. Moralisuse ipsum
                        dolor
                    </p>
                </div>
                <div class="col-md-2 col-sm-6">
                    <h5 class="headerTitleCustom">Company Number five</h5>
                    <img class="img-responsive center-block" src="img/team/avatar1.jpg" alt="" style="border-radius: 20px;">
                    <p style="text-align: justify; margin-top: 20px;">
                        Lorem ipsum dolor sit amet, consecte adipiscin elit.
                        Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum mattis. Moralisuse ipsum
                        dolor
                    </p>
                </div>
            </div>
        </div>
    </section>


    <!-- Slider-->
    <section class="no-pad" id="action-slider">
        <div class="carousel slide" id="carousel-light">

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="container-fluid bg-gray no-pad">
                        <div class="row">
                            <div class="col-lg-6 carousel-item">
                                <img class="img-responsive center-block"
                                     src="img/main/40.jpg" alt="">
                            </div>
                            <div class="col-lg-3 col-lg-offset-1 carousel-item-text">
                                <h3>Engineering</h3>
                                <p>Experienced project managers work closely with our integrated planning team to ensure that projects around the world are brought to construction readiness.</p>
                                <a class="btn btn-lg btn-gn" href="#">Explore More!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container-fluid bg-gray no-pad">
                        <div class="row">
                            <div class="col-lg-6 carousel-item">
                                <img class="img-responsive center-block"
                                     src="img/main/41.jpg" alt="">
                            </div>
                            <div class="col-lg-3 col-lg-offset-1 carousel-item-text">
                                <h3>Procurement</h3>
                                <p>The procurement of all necessary system components, including the infrastructure and construction site equipment, is handled by our professional component purchasing department from a single source.</p>
                                <a class="btn btn-lg btn-gn" href="#">Explore More!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container-fluid bg-gray no-pad">
                        <div class="row">
                            <div class="col-lg-6 carousel-item">
                                <img class="img-responsive center-block"
                                     src="img/main/42.jpg" alt="">
                            </div>
                            <div class="col-lg-3 col-lg-offset-1 carousel-item-text">
                                <h3>Construction</h3>
                                <p>Our in-house construction management coordinates and monitors the entire construction process of the wind power and solar systems we plan through to acceptance and handover.</p>
                                <a class="btn btn-lg btn-gn" href="#">Explore More!</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="container-fluid bg-gray no-pad">
                        <div class="row">
                            <div class="col-lg-6 carousel-item">
                                <img class="img-responsive center-block"
                                     src="img/main/42x.jpg" alt="">
                            </div>
                            <div class="col-lg-3 col-lg-offset-1 carousel-item-text">
                                <h3>Financing</h3>
                                <p>To implement our projects, we develop financing concepts that are individually tailored to local circumstances.</p>
                                <a class="btn btn-lg btn-gn" href="#">Explore More!</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>



            <!-- Controls--><a class="left carousel-control" href="#carousel-light" data-slide="prev">
                <span class="icon-prev"></span>
            </a><a class="right carousel-control" href="#carousel-light"
                   data-slide="next"><span class="icon-next"></span></a>
        </div>
    </section>



    <!-- Portfolio-->
    <section class="bg-white no-pad-btm" id="portfolio">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h3>Portfolio</h3>
                    <ul class="portfolio-sorting list-inline text-center">
                        <li><a class="active" href="portfolio-single.html" data-group="all">All</a></li>
                        <li><a href="portfolio-single.html" data-group="photo">Photo</a></li>
                        <li><a href="portfolio-single.html" data-group="design">Design</a></li>
                        <li><a href="portfolio-single.html" data-group="branding">Branding</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row portfolio-items" id="grid">
                <div class="col-md-3 col-sm-6 no-pad" data-groups="[&quot;branding&quot;, &quot;design&quot;]">
                    <div class="portfolio-item">
                        <a href="portfolio-single.html">
                            <img src="img/main/41.jpg" alt="">
                            <div class="portfolio-overlay">
                                <div class="caption">
                                    <h5>Form Image Creative</h5><span>Lorem ipsum dolor sit amet</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 no-pad" data-groups="[&quot;photo&quot;, &quot;branding&quot;]">
                    <div class="portfolio-item">
                        <a href="portfolio-single.html">
                            <img src="img/main/42.jpg" alt="">
                            <div class="portfolio-overlay">
                                <div class="caption">
                                    <h5>Form Image Creative</h5><span>Lorem ipsum dolor sit amet</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 no-pad" data-groups="[&quot;&quot;]">
                    <div class="portfolio-item">
                        <a href="portfolio-single.html">
                            <img src="img/main/34.jpg" alt="">
                            <div class="portfolio-overlay">
                                <div class="caption">
                                    <h5>Form Image Creative</h5><span>Lorem ipsum dolor sit amet</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 no-pad" data-groups="[&quot;design&quot;, &quot;photo&quot;]">
                    <div class="portfolio-item">
                        <a href="portfolio-single.html">
                            <img src="img/main/38.jpg" alt="">
                            <div class="portfolio-overlay">
                                <div class="caption">
                                    <h5>Form Image Creative</h5><span>Lorem ipsum dolor sit amet</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 no-pad" data-groups="[&quot;branding&quot;, &quot;design&quot;]">
                    <div class="portfolio-item">
                        <a href="portfolio-single.html">
                            <img src="img/main/21.jpg" alt="">
                            <div class="portfolio-overlay">
                                <div class="caption">
                                    <h5>Form Image Creative</h5><span>Lorem ipsum dolor sit amet</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 no-pad"
                     data-groups="[&quot;photo&quot;, &quot;design&quot;, &quot;branding&quot;]">
                    <div class="portfolio-item">
                        <a href="portfolio-single.html">
                            <img src="img/main/40.jpg" alt="">
                            <div class="portfolio-overlay">
                                <div class="caption">
                                    <h5>Form Image Creative</h5><span>Lorem ipsum dolor sit amet</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 no-pad" data-groups="[&quot;photo&quot;]">
                    <div class="portfolio-item">
                        <a href="portfolio-single.html">
                            <img src="img/main/43.jpg" alt="">
                            <div class="portfolio-overlay">
                                <div class="caption">
                                    <h5>Form Image Creative</h5><span>Lorem ipsum dolor sit amet</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section-small action bg-gray text-center">
        <a class="btn btn-dark-border wow fadeInUp" data-wow-duration="2s"
           data-wow-delay=".2s" href="#">View All Portfolio</a>
    </div>

    <!-- News Block-->
    <section id="news">
        <div class="container">
            <h3 class="pull-left">Latest news</h3>
            <div class="pull-right">
                <h5><a href="news3.html">SEE ALL</a></h5>
            </div>
            <div class="clearfix"></div>
            <div class="row grid-pad wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">
                <div class="col-sm-3">
                    <a href="#"><img class="img-responsive center-block" src="img/main/2.jpg" style="border-radius: 20px;" alt=""></a>
                    <div class="meta">
                        05.07.2024 / <a href="#">GOOD NEWS</a>
                    </div>
                    <a href="#">
                        <h4>Good news: PV project Bizeneuille (Allier, France) wins CRE tender!</h4>
                    </a><a class="btn btn-gn" href="#">Read more</a>
                </div>
                <div class="col-sm-3">
                    <a href="#">
                        <img class="img-responsive center-block"
                             src="img/main/12.jpg" style="border-radius: 20px;" alt="">
                    </a>                <div class="meta">
                        21.06.2024 / <a href="#">GERMANY</a>
                    </div>
                    <a href="#">
                        <h4>Big announcement for the Freudenberg project (Germany)</h4>
                    </a><a class="btn btn-gn" href="#">Read more</a>
                </div>
                <div class="col-sm-3">
                    <a href="#">
                        <img class="img-responsive center-block"
                             src="img/main/22.jpg" style="border-radius: 20px;" alt="">
                    </a>
                    <div class="meta">
                        25.09.2023 / <a href="#">CONSTRUCTION</a>
                    </div>
                    <a href="#">
                        <h4>Good news: PV project Bizeneuille (Allier, France) wins CRE tender!</h4>
                    </a><a class="btn btn-gn" href="#">Read more</a>
                </div>
                <div class="col-sm-3">
                    <a href="#">
                        <img class="img-responsive center-block"
                             src="img/main/22.jpg" style="border-radius: 20px;" alt="">
                    </a>
                    <div class="meta">
                        25.09.2023 / <a href="#">CONSTRUCTION</a>
                    </div>
                    <a href="#">
                        <h4>Good news: PV project Bizeneuille (Allier, France) wins CRE tender!</h4>
                    </a><a class="btn btn-gn" href="#">Read more</a>
                </div>
            </div>
        </div>
    </section>




    <!-- Facts section-->
    <section class="facts section-small bg-gradiant">

        <div class="container text-center">
            <div class="row">
                <div class="col-sm-3">
                    <span class="numscroller text-color-gn-white" data-min="0" data-max="5" data-delay="5"
                          data-increment="1">0</span>
                    <h5 class="no-pad text-color-gn-white ">INTERNATIONAL BRANCH</h5>
                </div>
                <div class="col-sm-3 ">
                    <span class="numscroller text-color-gn-white" data-min="0" data-max="2785" data-delay="5"
                          data-increment="3">0</span>
                    <h5 class="no-pad text-color-gn-white ">Happy Customers</h5>
                </div>
                <div class="col-sm-3 ">
                    <span class="numscroller text-color-gn-white" data-min="0" data-max="12" data-delay="5"
                          data-increment="1">0</span>
                    <h5 class="no-pad text-color-gn-white">Winning awards</h5>
                </div>
                <div class="col-sm-3">
                    <span class="numscroller text-color-gn-white" data-min="0" data-max="78" data-delay="5"
                          data-increment="1">0</span>
                    <h5 class="no-pad text-color-gn-white">Completed project</h5>
                </div>
            </div>
        </div>
    </section>




    <!-- Contact Section-->
    <section class="section-small" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h3>SUBMIT INQUIRY</h3>
                    <!-- Contact Form - Enter your email address on line 17 of the mail/contact_me.php file to make this form work. For more information on how to do this please visit the Docs!-->
                    <form id="contactForm" name="sentMessage" novalidate="">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label class="sr-only control-label" for="name">You Name</label>
                                <input class="form-control input-lg" id="name" type="text" placeholder="You Name"
                                       required="" data-validation-required-message="Please enter name"><span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label class="sr-only control-label" for="email">You Email</label>
                                <input class="form-control input-lg" id="email" type="email" placeholder="You Email"
                                       required="" data-validation-required-message="Please enter email"><span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label class="sr-only control-label" for="phone">You Phone</label>
                                <input class="form-control input-lg" id="phone" type="tel" placeholder="You Phone"
                                       required="" data-validation-required-message="Please enter phone number"><span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label class="sr-only control-label" for="message">Message</label>
                                <textarea class="form-control input-lg" id="message" rows="1" placeholder="Message"
                                          required="" data-validation-required-message="Please enter a message."
                                          aria-invalid="false"></textarea><span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div id="success"></div>
                        <button class="btn btn-gn" type="submit">Send</button>
                    </form>
                </div>
                <div class="col-md-5 col-md-offset-2">
                    <h3>Feel free to contact us</h3>
                    <h2>
                        <i class="fa fa-phone fa-fw fa-lg"></i> +49 (0) 341 355 604 10
                    </h2>
                    <p>
                        A business has to be involving, it has to be fun, and it has to exercise your creative instincts.
                        Start where you are. Use what you have. Do what you can.
                    </p>
                    <hr>
                    <h5>
                        <i class="fa fa-map-marker fa-fw fa-lg"></i> Green Energy 3000 GmbH
                        Karl-Tauchnitz-Strasse 10b 04107 Leipzig
                    </h5>
                </div>
            </div>
        </div>
    </section>
    <!-- Map Section-->
    <div id="map"></div>

    <!-- Footer Section-->
    <section class="section-small bg-gray footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>About</h5>
                    <p>Green Energy 3000 Holding GmbH is the umbrella organisation of German and international companies working together on the energy transition. The group's range of services includes project development, planning, financing, purchasing, construction and operational management of wind and solar parks, hybrid plants with battery storage and agrivoltaics projects.</p>
                </div>
                <div class="col-md-3 col-md-offset-1 footer-menu">
                    <h5>Latest project</h5>
                    <p>
                        <a href="portfolio.html">
                            <img class="img-responsive center-block" src="img/main/42.jpg"
                                 alt="">
                        </a>
                    </p>
                </div>
                <div class="col-md-3 col-md-offset-1 footer-menu">
                    <h5>Company</h5>
                    <h6 class="no-pad"><a href="services.html">Seals/Promotion</a></h6>
                    <h6 class="no-pad"><a href="portfolio.html">Accessibility</a></h6>
                    <h6 class="no-pad"><a href="contact.html">Compliance</a></h6>
                    <h6 class="no-pad"><a href="contact.html">Date Protection</a></h6>
                    <h6 class="no-pad"><a href="contact.html">Imprint</a></h6>
                    <h6 class="no-pad"><a href="contact.html">Contact Us</a></h6>
                    <h6 class="no-pad"><a href="about.html">About us</a></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h6>
                        © 2024 Green Energy 3000. All rights reserved.
                    </h6>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <h6>
                        Designed by<a href="http://fuwatech.com"> Fuwatech</a>
                    </h6>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook fa-fw fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram fa-fw fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa fa-xing fa-fw fa-lg"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin fa-fw fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>



    <!-- jQuery-->
    <script src="js/jquery-1.12.4.min.js"></script>
    <!-- Bootstrap Core JavaScript-->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript-->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/device.min.js"></script>
    <script src="js/form.min.js"></script>
    <script src="js/jquery.placeholder.min.js"></script>
    <script src="js/jquery.shuffle.min.js"></script>
    <script src="js/jquery.parallax.min.js"></script>
    <script src="js/jquery.circle-progress.min.js"></script>
    <script src="js/jquery.swipebox.min.js"></script>
    <script src="js/smoothscroll.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.smartmenus.js"></script>
    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbzKw3SKryjUD6eZ4-m9xSlFRyBJ8odsY"></script>
    <script src="js/map.js"></script>
    <!-- Custom Theme JavaScript-->
    <script src="js/main.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</body>
</html>