
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (Request.Browser.IsMobileDevice)
{
    @section scripts{
        <script>
         $.get("getAppUrl",{ slug: "@ViewBag.slug"}, function(result){

            $("#Result").html(result);
        });


        </script>
    }
    <div id="Result"></div>
}
else
{
    <!-- HTML for desktop device -->
}

