@model greenEnergy.ViewModel.pageContentVM
@if (Model.dataList != null)
{
    <section class="elementor-section elementor-top-section elementor-element elementor-element-37cffaa elementor-section-full_width qodef-elementor-content-grid elementor-section-height-default elementor-section-height-default" data-id="37cffaa" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
            @if (Model.dataList.Count() > 0)
            {
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-69afcbe" data-id="69afcbe" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-d74c808 elementor-widget elementor-widget-manufaktursolutions_core_banner" data-id="d74c808" data-element_type="widget" data-widget_type="manufaktursolutions_core_banner.default">
                            <div class="elementor-widget-container">
                                <div class="qodef-shortcode qodef-m  qodef-banner qodef-layout--link-button qodef-skin--light qodef-enable-top-border--yes qodef-disable-line-break--yes qodef-has-appear">
                                    <div class="qodef-m-image">
                                        <img decoding="async" width="1100" height="578" src="~/Images/@System.Configuration.ConfigurationManager.AppSettings["name"]/Uploads/@Model.dataList[0].mediaURL" class="attachment-full size-full" alt="y" srcset="~/Images/@System.Configuration.ConfigurationManager.AppSettings["name"]/Uploads/@Model.dataList[0].mediaURL" sizes="(max-width: 1100px) 100vw, 1100px" />
                                    </div>
                                    <div class="qodef-m-content">
                                        <div class="qodef-m-content-inner">
                                            <div class="qodef-m-title-wrapper">
                                                <h4 class="qodef-m-title" style="margin-top: 2px; direction:rtl;text-align:right">
                                                    @Model.dataList[0].title
                                                </h4>
                                            </div>
                                            <div class="qodef-m-button">
                                                <a class="qodef-shortcode qodef-m  qodef-button qodef-layout--textual  qodef-html--link" href="@Model.dataList[0].URL" target="_self" style="margin: 7px 0px 12px 0px">	<span class="qodef-m-text">اطلاعات بیشتر</span>    <span class="qodef-m-button-arrow-holder">		<svg class="qodef-svg--button-arrow" xmlns="http://www.w3.org/2000/svg" width="17.65" height="13.1" viewBox="0 0 17.65 13.1"><path d="m11.75 13.1-1.275-1.275L14.1 8.2l.85-.575-.1-.3-1.025.125H0V5.625h13.825l1.025.15.1-.3-.85-.575-3.625-3.625L11.75 0l5.9 5.9v1.3Z" /><path d="m11.75 13.1-1.275-1.275L14.1 8.2l.85-.575-.1-.3-1.025.125H0V5.625h13.825l1.025.15.1-.3-.85-.575-3.625-3.625L11.75 0l5.9 5.9v1.3Z" /></svg>	</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.dataList.Count() > 1)
            {
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-0f50afb" data-id="0f50afb" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-fa230be elementor-widget elementor-widget-manufaktursolutions_core_banner" data-id="fa230be" data-element_type="widget" data-widget_type="manufaktursolutions_core_banner.default">
                            <div class="elementor-widget-container">
                                <div class="qodef-shortcode qodef-m  qodef-banner qodef-layout--link-button qodef-skin--light qodef-enable-top-border--yes qodef-disable-line-break--yes qodef-has-appear">
                                    <div class="qodef-m-image">
                                        <img decoding="async" width="1100" height="578" src="~/Images/@System.Configuration.ConfigurationManager.AppSettings["name"]/Uploads/@Model.dataList[1].mediaURL" class="attachment-full size-full" alt="y" srcset="~/Images/@System.Configuration.ConfigurationManager.AppSettings["name"]/Uploads/@Model.dataList[1].mediaURL" sizes="(max-width: 1100px) 100vw, 1100px" />

                                    </div>
                                    <div class="qodef-m-content">
                                        <div class="qodef-m-content-inner">
                                            <div class="qodef-m-title-wrapper">
                                                <h4 class="qodef-m-title" style="margin-top: 2px; direction:rtl; text-align:right">
                                                    @Model.dataList[1].title
                                                </h4>
                                            </div>
                                            <div class="qodef-m-button">
                                                <a class="qodef-shortcode qodef-m  qodef-button qodef-layout--textual  qodef-html--link" href="@Model.dataList[1].URL" target="_self" style="margin: 7px 0px 12px 0px">	<span class="qodef-m-text">اطلاعات بیشتر</span>    <span class="qodef-m-button-arrow-holder">		<svg class="qodef-svg--button-arrow" xmlns="http://www.w3.org/2000/svg" width="17.65" height="13.1" viewBox="0 0 17.65 13.1"><path d="m11.75 13.1-1.275-1.275L14.1 8.2l.85-.575-.1-.3-1.025.125H0V5.625h13.825l1.025.15.1-.3-.85-.575-3.625-3.625L11.75 0l5.9 5.9v1.3Z" /><path d="m11.75 13.1-1.275-1.275L14.1 8.2l.85-.575-.1-.3-1.025.125H0V5.625h13.825l1.025.15.1-.3-.85-.575-3.625-3.625L11.75 0l5.9 5.9v1.3Z" /></svg>	</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>
    </section>


}
