@model greenEnergy.ViewModel.pageContentVM
@using Newtonsoft.Json;
@using greenEnergy.ViewModel;
<!-- Intro Slider-->

@{
    string style = Model.dataList.SingleOrDefault(x => x.title == "style") == null ? "" : Model.dataList.SingleOrDefault(x => x.title == "style").title2;
    styleVM styleModel = new greenEnergy.ViewModel.styleVM();
    string finalStyle = "";
    if (!string.IsNullOrEmpty(style))
    {
        finalStyle = greenEnergy.Classes.methods.getMyStyle(style);
    }

    string title = Model.dataList.SingleOrDefault(x => x.title == "html_title") == null ? "تایتل مرتبط با باکس سوالات" : Model.dataList.SingleOrDefault(x => x.title == "html_title").title2;


}

    <section class="elementor-section elementor-top-section elementor-element elementor-element-bcefae3 elementor-section-full_width qodef-elementor-content-grid elementor-section-height-default elementor-section-height-default" data-id="bcefae3" data-element_type="section">

        <div class="elementor-container elementor-column-gap-default" style="direction:rtl">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-64ca8db" data-id="64ca8db" data-element_type="column">

                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-widget-container" style="margin:30px 0">
                        <div class="qodef-shortcode qodef-m  qodef-section-title qodef-alignment--left   ">

                            <h3 class="qodef-m-title" style="margin-bottom:25px">
                                @Html.Raw(title)
                            </h3>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-8c20072 elementor-widget elementor-widget-manufaktursolutions_core_accordion" data-id="8c20072" data-element_type="widget" data-widget_type="manufaktursolutions_core_accordion.default">
                        <div class="elementor-widget-container">
                            <div class="qodef-shortcode qodef-m  qodef-accordion clear qodef-behavior--accordion qodef-layout--simple">

                                @foreach (var item in Model.contentChild)
                                {
                                    string titledetail = item.dataList.SingleOrDefault(x => x.title == "html_title") == null ? "slider title" : item.dataList.SingleOrDefault(x => x.title == "html_title").title2;
                                    string descriptionDetail = item.dataList.SingleOrDefault(x => x.title == "html_description") == null ? "slider title" : item.dataList.SingleOrDefault(x => x.title == "html_description").title2;

                                    <h6 class="qodef-accordion-title">
                                        <span class="qodef-tab-title">@Html.Raw(titledetail)</span>
                                        <span class="qodef-accordion-mark">
                                            <span class="qodef-icon--plus">+</span>
                                            <span class="qodef-icon--minus">-</span>
                                        </span>
                                    </h6>
                                    <div class="qodef-accordion-content">
                                        <div class="qodef-accordion-content-inner">
                                            <p>
                                                @Html.Raw(descriptionDetail)
                                            </p>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


