
@model greenEnergy.ViewModel.pageContentVM
@using Newtonsoft.Json;
@using greenEnergy.ViewModel;
<!-- Intro Slider-->

@{
    string style = Model.dataList.SingleOrDefault(x => x.title == "style") == null ? "" : Model.dataList.SingleOrDefault(x => x.title == "style").title2;
    styleVM styleModel = new greenEnergy.ViewModel.styleVM();
    string finalStyle = "";
    if (!string.IsNullOrEmpty(style))
    {
        finalStyle = greenEnergy.Classes.methods.getMyStyle(style);
    }

    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";
   // string image = Model.dataList.SingleOrDefault(x => x.title == "img_image") == null ? "" : baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image").title2;
    string title = Model.dataList.SingleOrDefault(x => x.title == "html_title") == null ? "slider title" : Model.dataList.SingleOrDefault(x => x.title == "html_title").title2;
    string style0 = Model.dataList.SingleOrDefault(x => x.title == "style") == null ? "" : Model.dataList.SingleOrDefault(x => x.title == "style").title2;


    styleVM styleModelDetail = new greenEnergy.ViewModel.styleVM();
    string detailStyle = "";
    detailStyle = greenEnergy.Classes.methods.getMyStyle(style0);

}

    <div style="@detailStyle" class="qodef-page-title qodef-m qodef-title--standard qodef-alignment--left qodef-vertical-alignment--window-top qodef--has-image qodef--appeared">
        <div class="qodef-m-inner">
            <div class="qodef-m-content qodef-content-grid ">
                <p class="qodef-m-subtitle">Meet our</p>
                 @Html.Raw(title)

            </div>
        </div>
    </div>


