@model greenEnergy.ViewModel.pageContentVM

@{
    if (ViewBag.from == "web")
    {
        string classname = ViewBag.classname;
        <div class="ms-section ms-table qodef-m-slide-content @classname" style="">
            <div class="qodef-m-template-content">
                <div data-elementor-type="section" data-elementor-id="4519" class="elementor elementor-4519">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-3b1a825c elementor-section-full_width elementor-section-height-min-height elementor-section-items-bottom elementor-section-height-default qodef-elementor-content-no" data-id="3b1a825c" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-container elementor-column-gap-default">
                            <div style="position:absolute; top:20%" class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-39cd1542" data-id="39cd1542" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-6559fc40 elementor-widget elementor-widget-manufaktursolutions_core_section_title" data-id="6559fc40" data-element_type="widget" data-widget_type="manufaktursolutions_core_section_title.default">
                                        <div class="elementor-widget-container">
                                            <div class="qodef-shortcode qodef-m  qodef-section-title qodef-alignment--left qodef-title-break--disabled  ">

                                                <h3 class="qodef-m-title dirRight">
                                                    @Model.dataList[0].title @*طراحی ساخت نصب و  راهن اندازی کارخانجات تولید سیمان*@

                                                </h3>

                                                <p class="qodef-m-text definitionP">
                                                    @Model.dataList[0].description
                                                    @*شرکت جهان تجیزات سپاهان با تکیه بر دانش فنی و کادر مجرب مهندسی از سال 1390 با ورود به صنعت طراحی و ساخت انواع تجهیزات کارخانجات سیمان و همکاری با کارخانجات
                                                    کارخانه سیمان آبیک ، کارخانه سیمان ارستان، سیمان اصفهان، سیمان ساروج سیمان سامان غرب  سیمان ساوه سیمان پی، سیمان کرمان نقش قابل توجهی در این بخش ایفا کرده است*@
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    }
    else
    {

    }
}

