.elementor-139297 .elementor-element.elementor-element-1b890e1c:not(.elementor-motion-effects-element-type-background), .elementor-139297 .elementor-element.elementor-element-1b890e1c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#5700C9;}.elementor-139297 .elementor-element.elementor-element-1b890e1c, .elementor-139297 .elementor-element.elementor-element-1b890e1c > .elementor-background-overlay{border-radius:15px 15px 15px 15px;}.elementor-139297 .elementor-element.elementor-element-1b890e1c{box-shadow:0px 48px 100px 0px rgba(17.000000000000014, 12.000000000000002, 46, 0.15);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:50px;margin-bottom:50px;padding:50px 20px 50px 20px;}.elementor-139297 .elementor-element.elementor-element-1b890e1c > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-139297 .elementor-element.elementor-element-7f016aa0 .elementor-heading-title{color:#FFFFFF;font-family:"iransansx";font-size:33px;font-weight:100;}.elementor-139297 .elementor-element.elementor-element-7f016aa0 > .elementor-widget-container{padding:10px 0px 10px 0px;}.elementor-139297 .elementor-element.elementor-element-74e8f49e .elementor-button .elementor-align-icon-right{margin-left:7px;}.elementor-139297 .elementor-element.elementor-element-74e8f49e .elementor-button .elementor-align-icon-left{margin-right:7px;}.elementor-139297 .elementor-element.elementor-element-74e8f49e .elementor-button{fill:#061962;color:#061962;background-color:#E7ECFD;border-radius:99px 99px 99px 99px;box-shadow:0px 48px 100px 0px rgba(17.000000000000014, 12.000000000000002, 46, 0.15);}.elementor-139297 .elementor-element.elementor-element-74e8f49e .elementor-button:hover, .elementor-139297 .elementor-element.elementor-element-74e8f49e .elementor-button:focus{background-color:#FFFFFF;}.elementor-139297 .elementor-element.elementor-element-43aca5d .elementor-button{fill:#FFFFFF;color:#FFFFFF;background-color:#6F00F9;border-style:solid;border-width:2px 2px 2px 2px;border-radius:99px 99px 99px 99px;}.elementor-139297 .elementor-element.elementor-element-43aca5d .elementor-button:hover, .elementor-139297 .elementor-element.elementor-element-43aca5d .elementor-button:focus{background-color:#4C00AA;}.elementor-139297 .elementor-element.elementor-element-f5fcd1d:not(.elementor-motion-effects-element-type-background), .elementor-139297 .elementor-element.elementor-element-f5fcd1d > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#5700C9;}.elementor-139297 .elementor-element.elementor-element-f5fcd1d, .elementor-139297 .elementor-element.elementor-element-f5fcd1d > .elementor-background-overlay{border-radius:15px 15px 15px 15px;}.elementor-139297 .elementor-element.elementor-element-f5fcd1d{box-shadow:0px 48px 100px 0px rgba(17.000000000000014, 12.000000000000002, 46, 0.15);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:50px 20px 50px 20px;}.elementor-139297 .elementor-element.elementor-element-f5fcd1d > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-139297 .elementor-element.elementor-element-d53b913 .elementor-heading-title{color:#FFFFFF;font-family:"iransansx";font-size:33px;font-weight:100;}.elementor-139297 .elementor-element.elementor-element-d53b913 > .elementor-widget-container{padding:10px 0px 10px 0px;}.elementor-139297 .elementor-element.elementor-element-dcf7eae .elementor-button .elementor-align-icon-right{margin-left:7px;}.elementor-139297 .elementor-element.elementor-element-dcf7eae .elementor-button .elementor-align-icon-left{margin-right:7px;}.elementor-139297 .elementor-element.elementor-element-dcf7eae .elementor-button{fill:#061962;color:#061962;background-color:#E7ECFD;border-radius:99px 99px 99px 99px;box-shadow:0px 48px 100px 0px rgba(17.000000000000014, 12.000000000000002, 46, 0.15);}.elementor-139297 .elementor-element.elementor-element-dcf7eae .elementor-button:hover, .elementor-139297 .elementor-element.elementor-element-dcf7eae .elementor-button:focus{background-color:#FFFFFF;}.elementor-139297 .elementor-element.elementor-element-ede6847 .elementor-button{fill:#FFFFFF;color:#FFFFFF;background-color:#6F00F9;border-style:solid;border-color:#FFFFFF;border-radius:99px 99px 99px 99px;}.elementor-139297 .elementor-element.elementor-element-ede6847 .elementor-button:hover, .elementor-139297 .elementor-element.elementor-element-ede6847 .elementor-button:focus{background-color:#4C00AA;}@media(max-width:767px){.elementor-139297 .elementor-element.elementor-element-7f016aa0{text-align:center;}.elementor-139297 .elementor-element.elementor-element-7f016aa0 .elementor-heading-title{font-size:20px;}.elementor-139297 .elementor-element.elementor-element-d53b913{text-align:center;}.elementor-139297 .elementor-element.elementor-element-d53b913 .elementor-heading-title{font-size:16px;}.elementor-139297 .elementor-element.elementor-element-ede6847 .elementor-button{border-width:2px 2px 2px 2px;}}@media(min-width:768px){.elementor-139297 .elementor-element.elementor-element-76f25021{width:18.517%;}.elementor-139297 .elementor-element.elementor-element-2faae2de{width:44.443%;}.elementor-139297 .elementor-element.elementor-element-2297a63b{width:18.103%;}.elementor-139297 .elementor-element.elementor-element-1ab08a0d{width:17.209%;}}/* Start custom CSS for button, class: .elementor-element-74e8f49e */.contact-click {
    animation-name: elementor-animation-pulse-grow;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-dcf7eae */.contact-click {
    animation-name: elementor-animation-pulse-grow;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'iransansx';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../../2021/06/IRANSansXFaNum-Regular.woff2') format('woff2'),
		url('../../2021/06/IRANSansXFaNum-Regular.woff') format('woff'),
		url('../../2021/06/IRANSansXFaNum-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'iransansx';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2021/06/IRANSansXFaNum-DemiBold.woff2') format('woff2'),
		url('../../2021/06/IRANSansXFaNum-DemiBold.woff') format('woff'),
		url('../../2021/06/IRANSansXFaNum-DemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'iransansx';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../../2021/06/IRANSansXFaNum-Bold.woff2') format('woff2'),
		url('../../2021/06/IRANSansXFaNum-Bold.woff') format('woff'),
		url('../../2021/06/IRANSansXFaNum-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'iransansx';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../../2021/06/IRANSansXFaNum-Light.woff2') format('woff2'),
		url('../../2021/06/IRANSansXFaNum-Light.woff') format('woff'),
		url('../../2021/06/IRANSansXFaNum-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'iransansx';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('../../2021/06/IRANSansXFaNum-Black.woff2') format('woff2'),
		url('../../2021/06/IRANSansXFaNum-Black.woff') format('woff'),
		url('../../2021/06/IRANSansXFaNum-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'iransansx';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('../../2021/06/IRANSansXFaNum-DemiBold.woff2') format('woff2'),
		url('../../2021/06/IRANSansXFaNum-DemiBold.woff') format('woff'),
		url('../../2021/06/IRANSansXFaNum-DemiBold.ttf') format('truetype');
}
/* End Custom Fonts CSS */