@model greenEnergy.ViewModel.pageContentVM
@using greenEnergy.ViewModel;
@{
    string style = Model.dataList.SingleOrDefault(x => x.title == "style").title2 == "" ? "" : Model.dataList.SingleOrDefault(x => x.title == "style").title2;
    styleVM styleModel = new greenEnergy.ViewModel.styleVM();
    string finalStyle = "";
    if (!string.IsNullOrEmpty(style))
    {
        finalStyle = greenEnergy.Classes.methods.getMyStyle(style);
    }



    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";

    string image = Model.dataList.SingleOrDefault(x => x.title == "img_image").title2 != "" ? baseImage+ Model.dataList.SingleOrDefault(x => x.title == "img_image").title2 : "webAssets/supect/Assets/wp-content/uploads/2018/02/about-2.jpg";
    string header = Model.dataList.SingleOrDefault(x => x.title == "header").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "header").title2 : "تعهد کاری";
    string description = Model.dataList.SingleOrDefault(x => x.title == "description").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "description").title2 : "تیم ما با ترکیب دانش فنی و تجربه گسترده، متعهد است تا راه‌حل‌های  خلاقانه و کارآمدی ارائه دهد که نیازهای شهروندان و سازمان‌ها را به   بهترین   شکل ممکن برآورده کند. شعار ما «سوپکت، دوست دیجیتال شما» است و ما  به این شعار افتخار می‌کنیم، چرا که باور داریم هر پروژه،  فرصتی   است برای ایجاد ارتباطی قوی و ماندگار با مشتریان و همکاران.";


}



<section>
    <div class="vc_row section vc_row-fluid" style="border-width:0 0 1px 0;border-color:#ededed"
         id="row-64e554554c51e">
        <div class="row-inner clearfix row-background-transparent">
            <div class="row-outer-holder" style="padding-top:110px;padding-bottom:110px">
                <div class="wrapper">
                    <div class="row-inner-holder align-right">
                        <div class="wpb_column vc_column_container vc_col-sm-2 vc_hidden-sm vc_hidden-xs">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper"></div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-md-8 vc_col-xs-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                        <figure class="wpb_wrapper vc_figure">
                                            <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                <img width="660" height="268"
                                                     src="@image"
                                                     class="vc_single_image-img attachment-full" alt=""
                                                     decoding="async"
                                                     sizes="(max-width: 660px) 100vw, 660px">
                                            </div>
                                        </figure>
                                    </div>
                                    <div class="vc_empty_space" style="height: 40px">
                                        <span class="vc_empty_space_inner"></span>
                                    </div>
                                    <div class="custom-heading-holder align-center">
                                        <h2 class="custom-heading"> @Html.Raw(@header)</h2>
                                    </div>
                                    <div class="vc_empty_space" style="height: 20px">
                                        <span class="vc_empty_space_inner"></span>
                                    </div>

                                    <div class="wpb_text_column wpb_content_element ">
                                        <div class="wpb_wrapper">
                                            <p style="text-align: center;">
                                                <span style="font-size: 15px;">
                                                    @Html.Raw(@description)
                                                </span>
                                            </p>
                                            <p style="direction: ltr;">

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wpb_column vc_column_container vc_col-sm-2 vc_hidden-sm vc_hidden-xs">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
