@model greenEnergy.ViewModel.pageContentVM
@using greenEnergy.ViewModel;
@{
    string style = Model.dataList.SingleOrDefault(x => x.title == "style").title2 == "" ? "" : Model.dataList.SingleOrDefault(x => x.title == "style").title2;
    styleVM styleModel = new greenEnergy.ViewModel.styleVM();
    string finalStyle = "";
    if (!string.IsNullOrEmpty(style))
    {
        finalStyle = greenEnergy.Classes.methods.getMyStyle(style);
    }
    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";



    string title = Model.dataList.SingleOrDefault(x => x.title == "title").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "title").title2 : "نیاز به سیم کشی های پیجیده ندارد و فقط در بستر اینترنت کارمیکند و نصب و پیکربندی ساده تری دارد.";
    string description = Model.dataList.SingleOrDefault(x => x.title == "description").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "description").title2 : "اما برخلاف اون تلفن ثابت سیم کشی های پیچیده و زیادی دارد و نیاز به اینترنت ندارد.";


}


<div class="accordion anti-radus">
    <div class="accordion-title">
        <h4 class="accordion-title-inner">
            @title
        </h4>
    </div>
    <div class="accordion-content" style="height: 0px;">
        <div class="accordion-content-inner">
            <p>@description</p>
        </div>
    </div>
</div>