@model greenEnergy.ViewModel.pageContentVM
@using greenEnergy.ViewModel;
@{
    string style = Model.dataList.SingleOrDefault(x => x.title == "style").title2 == "" ? "" : Model.dataList.SingleOrDefault(x => x.title == "style").title2;
    styleVM styleModel = new greenEnergy.ViewModel.styleVM();
    string finalStyle = "";
    if (!string.IsNullOrEmpty(style))
    {
        finalStyle = greenEnergy.Classes.methods.getMyStyle(style);
    }



    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";
    string image = Model.dataList.SingleOrDefault(x => x.title == "img_image").title2 != "" ? baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image").title2 : "webAssets/supect/Assets/wp-content/uploads/2018/02/about-2.jpg";

    string tag = Model.dataList.SingleOrDefault(x => x.title == "tag").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "tag").title2 : "آخرین اخبار و مقالات ";
    string url = Model.dataList.SingleOrDefault(x => x.title == "url").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "url").title2 : "مشاهده همه مقالات";
    string title = Model.dataList.SingleOrDefault(x => x.title == "title").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "title").title2 : "#";

    
    string taghint = "";


}


                        @foreach (var tagDet in tag.Split(',').ToList())
                        {
                            taghint += "\"" + tag + "\"" + ",";
                            taghint = taghint.Trim(',');
                        }
                        
                        <div class="card" data-groups="[@taghint]">
                            <a href="@url">
                                <figure class="pp-effect">
                                    <img class="img-fluid" src="@image" alt="Nature" />
                                    <figcaption>
                                        <div class="h4"> @Html.Raw(@title)</div>
                                     
                                    </figcaption>
                                </figure>
                            </a>
                        </div>