@model greenEnergy.ViewModel.pageContentVM
@using greenEnergy.ViewModel;
@{

    string style = Model.dataList.SingleOrDefault(x => x.title == "style").title2 == "" ? "" : Model.dataList.SingleOrDefault(x => x.title == "style").title2;
    styleVM styleModel = new greenEnergy.ViewModel.styleVM();
    string finalStyle = "";
    if (!string.IsNullOrEmpty(style))
    {
        finalStyle = greenEnergy.Classes.methods.getMyStyle(style);
    }

    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";
    string image = Model.dataList.SingleOrDefault(x => x.title == "img_image").title2 != "" ? baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image").title2 : "webAssets/supect/Assets/wp-content/uploads/2017/05/%d9%85%d8%b1%d8%a7%d8%ad%d9%84-%d8%ab%d8%a8%d8%aa-%d8%af%d8%b1%d8%ae%d9%88%d8%a7%d8%b3%d8%aa-%d9%be%d8%b2%d8%b4%da%a9%db%8c.jpg";
    string title = Model.dataList.SingleOrDefault(x => x.title == "title").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "title").title2 : "فرآیند ثبت درخواست وب سایت پزشکی از شرکت سوپکت";
    string description = Model.dataList.SingleOrDefault(x => x.title == "description").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "description").title2 : "در اینجا یک متن بنویسید";



}






<section>
    <div class=" vc_row section vc_row-fluid margin-bottom-section" id="row-64e561762a35a">
        <div class="row-inner clearfix row-background-transparent">
            <div class="row-outer-holder">
                <div class="wrapper margin-bottom-section specialitySecion">
                    <div class="row-inner-holder align-right">
                        <div data-wow-duration="1.7s" class="wow fadeInUp wpb_column vc_column_container vc_col-sm-12 vc_col-md-6 vc_col-xs-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="wpb_single_image wpb_content_element vc_align_right web-main-3-responsive">

                                        <figure class="wpb_wrapper vc_figure">
                                            <a href="#" target="_self" class="vc_single_image-wrapper   vc_box_border_grey">
                                                <img width="800" height="515" src="@image" class="vc_single_image-img attachment-full" alt="" decoding="async" sizes="(max-width: 800px) 100vw, 800px">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="vc_empty_space" style="height: 32px">
                                        <span class="vc_empty_space_inner"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div data-wow-duration="1.5s" class=" wow fadeInUp center-in-tablet wpb_column vc_column_container column-content-middle vc_col-sm-12 vc_col-md-6 vc_col-xs-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="custom-heading-holder align-right section-title center-in-tablet">
                                        <h2 class="custom-heading web-title-main-responsive">
                                            @title
                                        </h2>
                                    </div>
                                    <div class="vc_empty_space" style="height: 10px">
                                        <span class="vc_empty_space_inner"></span>
                                    </div>

                                    <div class="wpb_text_column wpb_content_element  section-text ">
                                        <div class="wpb_wrapper margin-left-section">

                                            <p class="web-text-main-responsive">
                                                @description
                                            </p>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>