
<section class="p-0">
    <div class="container-fluid">
        <div class="row row-flex">
            <div class="col-md-4 hidden-sm hidden-xs">
                <div class="box-row grey-bg pt-100 pb-100">
                    <div class="icon-box-basic">
                        <i class="hc-phone"></i>
                        <h4>Phone</h4>
                        <p>+67 987 657 32</p>
                    </div>
                    <div class="icon-box-basic">
                        <i class="hc-map-2"></i>
                        <h4>Headquarter</h4>
                        <p>Fourth Floor, New York</p>
                    </div>
                    <div class="icon-box-basic">
                        <i class="hc-mail-open-file"></i>
                        <h4>Email</h4>
                        <p>hello@dylan.co</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="box-row pt-100 pb-100">
                    <div class="title mb-50">
                        <h2>Book A Session.</h2>
                        <h4>We are waiting for you.</h4>
                    </div>
                    <div class="section-content">
                        <form id="contact-form" action="mail.php" method="POST">
                            <div class="form-group">
                                <input class="form-control" type="text" name="name" placeholder="Your Name" data-required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" name="email" placeholder="Your Email" data-required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="phone" placeholder="Phone Number">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" placeholder="Your Message" data-required></textarea>
                            </div>
                            <div class="form-group">
                                <input class="btn btn-dark" type="submit" value="Book Now">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>