@model greenEnergy.ViewModel.pageContentVM
@using greenEnergy.ViewModel;
@{
    string style = Model.dataList.SingleOrDefault(x => x.title == "style").title2 == "" ? "" : Model.dataList.SingleOrDefault(x => x.title == "style").title2;
    styleVM styleModel = new greenEnergy.ViewModel.styleVM();
    string finalStyle = "";
    if (!string.IsNullOrEmpty(style))
    {
        finalStyle = greenEnergy.Classes.methods.getMyStyle(style);
    }
    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";


    string imageIcon1 = Model.dataList.SingleOrDefault(x => x.title == "img_image1").title2 != "" ? baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image1").title2 : "/webAssets/supect/Assets/wp-content/themes/supect-1/images/google-partner.png";
    string title = Model.dataList.SingleOrDefault(x => x.title == "title").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "title").title2 : "علی فروغی";
    string description = Model.dataList.SingleOrDefault(x => x.title == "description").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "description").title2 : " تیم حرفه‌ای سوپکتدریچه‌ای نو را  در عرصۀ دیجیتال مارکتینگ به روی شما باز می‌کند.  خدمات و  آموزش‌های این مجموعه را صمیمانه پیشنهاد می‌کنم.";
    string namne = Model.dataList.SingleOrDefault(x => x.title == "name").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "name").title2 : " دیدنگار";
    string url = Model.dataList.SingleOrDefault(x => x.title == "url").title2 != "" ? Model.dataList.SingleOrDefault(x => x.title == "url").title2 : "#";

}





<div class="testimonials-item-holder">
    <div class="testimonials-item">

        <div class="testimonials-item-top-holder">
            <a href="">
                <img width="70" height="70"
                     class="testimonials-item-image" alt=""
                     src="@imageIcon1"
                     loading="lazy" />
            </a>

            <div class="testimonials-item-name-outer">
                <h5 class="testimonials-item-name">
                    @Html.Raw(@title)

                </h5>
                <h6 class="testimonials-item-company">
                    @namne
                </h6>
            </div>
        </div>
        <div class="testimonials-item-text">
            @Html.Raw(@description)
        </div>
    </div>
</div>
