
@model greenEnergy.ViewModel.pageContentVM
@using greenEnergy.ViewModel;
@{
    //string style = Model.dataList.SingleOrDefault(x => x.title == "style").title2 == "" ? "" : Model.dataList.SingleOrDefault(x => x.title == "style").title2;
    //styleVM styleModel = new greenEnergy.ViewModel.styleVM();
    //string finalStyle = "";
    //if (!string.IsNullOrEmpty(style))
    //{
    //    finalStyle = greenEnergy.Classes.methods.getMyStyle(style);
    //}
    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";
    string image = Model.dataList.SingleOrDefault(x => x.title == "img_image").title2 != "" ? baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image").title2 : "images/client-1.png";


}






<div class="owl-item cloned" style="width: 106.667px; margin-right: 100px;">
    <figure class="client-thumb">
        <img src="@image" alt="">
    </figure>
</div>
