
@model greenEnergy.ViewModel.pageContentVM
@using Newtonsoft.Json;
@using greenEnergy.ViewModel;
@{
    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";

    string heading = Model.dataList.SingleOrDefault(x => x.title == "heading") == null ? "از این قسمت به عنوان هدر بخش مزیت ها استفاده میشود" : Model.dataList.SingleOrDefault(x => x.title == "heading").title2;

    string image1 = Model.dataList.SingleOrDefault(x => x.title == "img_image") == null ? "webAssets/irha/images/update-17-06-2023/services/services-7-1.png" : baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image").title2;
    string imageHover1 = Model.dataList.SingleOrDefault(x => x.title == "img_imageHover") == null ? "webAssets/irha/images/update-17-06-2023/services/services-seven-hover-bg-1.jpg" : baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_imageHover").title2;
    string text1 = Model.dataList.SingleOrDefault(x => x.title == "text") == null ? "عنوان مرتبط دوم" : Model.dataList.SingleOrDefault(x => x.title == "text").title2;
    string desc1 = Model.dataList.SingleOrDefault(x => x.title == "desc") == null ? "این بخش می تواند به عنوان توضیحات تمیلی استفاده شود" : Model.dataList.SingleOrDefault(x => x.title == "desc").title2;
    string url1 = Model.dataList.SingleOrDefault(x => x.title == "url") == null ? "#" : Model.dataList.SingleOrDefault(x => x.title == "url").title2;




}

<div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
    <div class="services-seven__single">
        <h3 class="services-seven__title"><a href="life-insurance.html">@text1</a></h3>
        <p class="services-seven__text">
            @desc1
        </p>


        <div class="services-seven__hover-box">
            <div class="services-seven__hover-bg"
                 style="background-image: url(@image1);">
            </div>
            @*<h3 class="services-seven__hover-title">
                    <a href="life-insurance.html">@text1</a>
                </h3>*@
            <a href="@url1" class="services-seven__btn-two thm-btn-four">
                جزئیات<span class="fa fa-arrow-right"></span>
            </a>
        </div>
    </div>
</div>
