  <!--Brand Start-->
<section class="brand-section">
    <div class="container">
        <div class="brand-section__carousel owl-carousel owl-theme thm-owl__carousel" data-owl-options='{
                    "loop": true,
                    "autoplay": true,
                    "margin": 30,
                    "nav": false,
                    "dots": false,
                    "smartSpeed": 700,
                    "autoplayTimeout": 10000,
                    "responsive": {
                        "0": {
                            "items": 2
                        },
                        "768": {
                            "margin": 50,
                            "items": 3
                        },
                        "992": {
                            "margin": 50,
                            "items": 4
                        },
                        "1200": {
                            "margin": 100,
                            "items": 5
                        }
                    }
                    }'>
            <div class="item">
                <div class="brand-section__image">
                    <img src="webAssets/irha/images/update-15-2-2024/resources/brand-1-1.png" alt="insur">
                </div>
            </div><!-- /.item -->
            <div class="item">
                <div class="brand-section__image">
                    <img src="webAssets/irha/images/update-15-2-2024/resources/brand-1-1.png" alt="insur">
                </div>
            </div><!-- /.item -->
            <div class="item">
                <div class="brand-section__image">
                    <img src="webAssets/irha/images/update-15-2-2024/resources/brand-1-1.png" alt="insur">
                </div>
            </div><!-- /.item -->
            <div class="item">
                <div class="brand-section__image">
                    <img src="webAssets/irha/images/update-15-2-2024/resources/brand-1-1.png" alt="insur">
                </div>
            </div><!-- /.item -->
            <div class="item">
                <div class="brand-section__image">
                    <img src="webAssets/irha/images/update-15-2-2024/resources/brand-1-1.png" alt="insur">
                </div>
            </div><!-- /.item -->
            <div class="item">
                <div class="brand-section__image">
                    <img src="webAssets/irha/images/update-15-2-2024/resources/brand-1-1.png" alt="insur">
                </div>
            </div><!-- /.item -->
            <div class="item">
                <div class="brand-section__image">
                    <img src="webAssets/irha/images/update-15-2-2024/resources/brand-1-1.png" alt="insur">
                </div>
            </div><!-- /.item -->
            <div class="item">
                <div class="brand-section__image">
                    <img src="webAssets/irha/images/update-15-2-2024/resources/brand-1-1.png" alt="insur">
                </div>
            </div><!-- /.item -->
            <div class="item">
                <div class="brand-section__image">
                    <img src="webAssets/irha/images/update-15-2-2024/resources/brand-1-1.png" alt="insur">
                </div>
            </div><!-- /.item -->
            <div class="item">
                <div class="brand-section__image">
                    <img src="webAssets/irha/images/update-15-2-2024/resources/brand-1-1.png" alt="insur">
                </div>
            </div><!-- /.item -->
        </div>
    </div>
</section>
<!--Brand End-->
