
@model greenEnergy.ViewModel.pageContentVM
@using Newtonsoft.Json;
@using greenEnergy.ViewModel;
@{

    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";

  
    string image1 = Model.dataList.SingleOrDefault(x => x.title == "img_image").title2 == "" ? "webAssets/irha/images/update-15-2-2024/resources/author-1.jpg" : baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image").title2;


}


<div class="item">
    <div class="brand-section__image">
        <img src="@image1" alt="insur">
    </div>
</div>