<!--CTA Seven Start-->
<section class="cta-seven">
    <div class="container">
        <div class="cta-seven__inner">
            <div class="row d-flex align-items-center">
                <div class="col-lg-4">
                    <img src="webAssets/irha/images/update-15-2-2024/shapes/cta-7-1.png" alt="insur">
                </div>
                <div class="col-lg-5">
                    <div class="cta-seven__content">
                        <h5 class="cta-seven__sub-title">Be Happy to Get Insurance</h5>
                        <h3 class="cta-seven__title">Start Tracking Your Claims</h3>
                    </div>
                </div>
                <div class="col-lg-3">
                    <a href="contact.html" class="thm-btn thm-btn--eight">Discover More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CTA Seven End-->