  <!--Feature Seven Start-->
<section class="feature-seven">
    <div class="container">
        <div class="row">
            <!--Feature Start-->
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="00ms">
                <div class="feature-seven__single">
                    <div class="feature-seven__single__icon">
                        <span class="insur-four-icon-jar"></span>
                    </div>
                    <h3 class="feature-seven__single__title"><a href="about.html">Safe Your Money</a></h3>
                    <p class="feature-seven__single__text">
                        There are many variations free the off passages of Lorem Ipsum about to thing avagtilable, but majority
                    </p>
                </div>
            </div>
            <!--Feature End-->
            <!--Feature Start-->
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                <div class="feature-seven__single feature-seven__single--featured" style="background-image: url(webAssets/irha/images/update-15-2-2024/resources/feature-bg.jpg);">
                    <div class="feature-seven__single__icon">
                        <span class="insur-four-icon-investment"></span>
                    </div>
                    <h3 class="feature-seven__single__title"><a href="contact.html">Get Free Quote</a></h3>
                    <p class="feature-seven__single__text">
                        There are many variations the off passages of Lorem Ipsum free thing avagtilable, but
                        majority the off passages of Lorem Ipsum free thing
                    </p>
                </div>
            </div>
            <!--Feature End-->
            <!--Feature Start-->
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="200ms">
                <div class="feature-seven__single feature-seven__single--last">
                    <div class="feature-seven__single__icon">
                        <span class="insur-four-icon-banking"></span>
                    </div>
                    <h3 class="feature-seven__single__title"><a href="about.html">Fast & Reliable</a></h3>
                    <p class="feature-seven__single__text">
                        There are many variations free the off passages of Lorem Ipsum about to thing avagtilable, but majority
                    </p>
                </div>
            </div>
            <!--Feature End-->
        </div>
    </div>
</section>
<!--Feature Seven End-->