<section class="testimonial-five">
    <div class="testimonial-five__shape-1"
         style="background-image: url(assets/images/update-10-02-2023/shapes/testimonial-five-shape-1.png);">
    </div>
    <div class="container">
        <div class="section-title-three text-center">
            <div class="section-title-three__sub-title-box">
                <p class="section-title-three__sub-title">Our Feedbacks</p>
                <div class="section-title-three__shape"></div>
            </div>
            <h2 class="section-title-three__title">What They’re Talking?</h2>
        </div>
        <div class="testimonial-five__carousel owl-carousel owl-theme thm-owl__carousel" data-owl-options='{
             "loop" : true,
             "autoplay" : true,
             "margin" : 30,
             "nav" : false,
             "dots" : false,
             "smartSpeed" : 500,
             "autoplayTimeout" : 10000,
             "navText" : ["<span class=\"fa fa-angle-left\"></span>","<span class=\"fa fa-angle-right\"></span>"],
                    "responsive": {
                        "0": {
                            "items": 1
                        },
                        "768": {
                            "items": 2
                        },
                        "992": {
                            "items": 2
                        },
                        "1200": {
                            "items": 3
                        }
                    }
                }'>
                    <!--Testimonial Five Single Start-->
                    <div class="item">
                        <div class="testimonial-five__single">
                            <div class="testimonial-five__content">
                                <div class="testimonial-five__rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <p class="testimonial-five__text">“All of our lorries are fitted with Satellite Tracking
                                    and Temperature Controlled monitoring systems so that the transportation of high
                                    value and temperature sensitive loads can be monitored at all times.</p>
                            </div>
                            <div class="testimonial-five__client-info">
                                <div class="testimonial-five__client-img">
                                    <img src="assets/images/update-10-02-2023/testimonial/testimonial-5-1.jpg" alt="">
                                </div>
                                <div class="testimonial-five__client-content">
                                    <p class="testimonial-five__client-sub-title">Co Founder</p>
                                    <h4 class="testimonial-five__client-name">David Cooper</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Testimonial Five Single End-->
                    <!--Testimonial Five Single Start-->
                    <div class="item">
                        <div class="testimonial-five__single">
                            <div class="testimonial-five__content">
                                <div class="testimonial-five__rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <p class="testimonial-five__text">“All of our lorries are fitted with Satellite Tracking
                                    and Temperature Controlled monitoring systems so that the transportation of high
                                    value and temperature sensitive loads can be monitored at all times.</p>
                            </div>
                            <div class="testimonial-five__client-info">
                                <div class="testimonial-five__client-img">
                                    <img src="assets/images/update-10-02-2023/testimonial/testimonial-5-2.jpg" alt="">
                                </div>
                                <div class="testimonial-five__client-content">
                                    <p class="testimonial-five__client-sub-title">Co Founder</p>
                                    <h4 class="testimonial-five__client-name">Sarah Albert</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Testimonial Five Single End-->
                    <!--Testimonial Five Single Start-->
                    <div class="item">
                        <div class="testimonial-five__single">
                            <div class="testimonial-five__content">
                                <div class="testimonial-five__rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <p class="testimonial-five__text">“All of our lorries are fitted with Satellite Tracking
                                    and Temperature Controlled monitoring systems so that the transportation of high
                                    value and temperature sensitive loads can be monitored at all times.</p>
                            </div>
                            <div class="testimonial-five__client-info">
                                <div class="testimonial-five__client-img">
                                    <img src="assets/images/update-10-02-2023/testimonial/testimonial-5-3.jpg" alt="">
                                </div>
                                <div class="testimonial-five__client-content">
                                    <p class="testimonial-five__client-sub-title">Co Founder</p>
                                    <h4 class="testimonial-five__client-name">Michale Smith</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Testimonial Five Single End-->
                </div>
    </div>
</section>
