 <!--Get Insurance Five Start-->
<section class="get-insurance-five" style="background-image: url(webAssets/irha/images/update-15-2-2024/backgrounds/get-insurance-bg.png);">
    <div class="get-insurance-five__shape" style="background-image: url(webAssets/irha/images/update-15-2-2024/shapes/get-insurance-shape.png);"></div>
    <div class="container tabs-box">
        <div class="section-title-six text-center">
            <span class="section-title-six__tagline"><span class="section-title-six__tagline__icon"><i class="insur-four-icon-check"></i></span>Get a Free Estimate</span>
            <h2 class="section-title-six__title">Get an Insurance Quote to<br> Get Standard!</h2>
        </div>
        <ul class="get-insurance-five__tabs tab-buttons clearfix list-unstyled">
            <li data-tab="#car-insurance" class="tab-btn active-btn">Car Insurance</li>
            <li data-tab="#life-insurance" class="tab-btn">Life Insurance</li>
            <li data-tab="#home-insurance" class="tab-btn">Home Insurance</li>
            <li data-tab="#health-insurance" class="tab-btn">Health Insurance</li>
        </ul><!-- tab-title -->
        <!-- tab-content -->
        <div class="tabs-content">
            <div class="tab active-tab" id="car-insurance">
                <div class="get-insurance-five__content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="get-insurance-five__content__image">
                                <img src="webAssets/irha/images/update-15-2-2024/resources/car-insurance.jpg" alt="insur">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <form class="get-insurance-five__form">
                                <div class="get-insurance-five__form__input">
                                    <input type="text" placeholder="Full name" name="name">
                                </div>
                                <div class="get-insurance-five__form__input">
                                    <input type="email" placeholder="Email address" name="email">
                                </div>
                                <div class="get-insurance-five__form__input">
                                    <select class="selectpicker" aria-label="Default select example">
                                        <option selected>Subject Type of Insurance</option>
                                        <option value="1">Car Insurance</option>
                                        <option value="2">Life Insurance</option>
                                        <option value="3">Home Insurance</option>
                                        <option value="4">Health Insurance</option>
                                    </select>
                                </div>
                                <div class="get-insurance-five__form__progress">
                                    <h4 class="get-insurance-five__form__progress__title">Limits of Balance:</h4>
                                    <div class="get-insurance__progress-range">
                                        <input type="text" class="balance-range-slider"
                                               data-hide-min-max="true" data-step="100"
                                               data-from="4000" data-min="0" data-max="7000"
                                               value="">
                                        <div class="get-insurance__balance-box">
                                            <p class="get-insurance__balance">$<span></span></p>
                                        </div>
                                        <input type="hidden" class="get-insurance__balance__input">
                                    </div><!-- /.get-insurance__progress-range -->
                                </div>
                                <button type="submit" class="thm-btn thm-btn--eight">Get a Quote Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- car-insurance -->
            <div class="tab" id="life-insurance">
                <div class="get-insurance-five__content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="get-insurance-five__content__image">
                                <img src="webAssets/irha/images/update-15-2-2024/resources/life-insurance.jpg" alt="insur">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <form class="get-insurance-five__form">
                                <div class="get-insurance-five__form__input">
                                    <input type="text" placeholder="Full name" name="name">
                                </div>
                                <div class="get-insurance-five__form__input">
                                    <input type="email" placeholder="Email address" name="email">
                                </div>
                                <div class="get-insurance-five__form__input">
                                    <select class="selectpicker" aria-label="Default select example">
                                        <option selected>Subject Type of Insurance</option>
                                        <option value="1">Car Insurance</option>
                                        <option value="2">Life Insurance</option>
                                        <option value="3">Home Insurance</option>
                                        <option value="4">Health Insurance</option>
                                    </select>
                                </div>
                                <div class="get-insurance-five__form__progress">
                                    <h4 class="get-insurance-five__form__progress__title">Limits of Balance:</h4>
                                    <div class="get-insurance__progress-range">
                                        <input type="text" class="balance-range-slider"
                                               data-hide-min-max="true" data-step="100"
                                               data-from="4000" data-min="0" data-max="7000"
                                               value="">
                                        <div class="get-insurance__balance-box">
                                            <p class="get-insurance__balance">$<span></span></p>
                                        </div>
                                        <input type="hidden" class="get-insurance__balance__input">
                                    </div><!-- /.get-insurance__progress-range -->
                                </div>
                                <button type="submit" class="thm-btn thm-btn--eight">Get a Quote Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- life-insurance -->
            <div class="tab" id="home-insurance">
                <div class="get-insurance-five__content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="get-insurance-five__content__image">
                                <img src="webAssets/irha/images/update-15-2-2024/resources/home-insurance.jpg" alt="insur">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <form class="get-insurance-five__form">
                                <div class="get-insurance-five__form__input">
                                    <input type="text" placeholder="Full name" name="name">
                                </div>
                                <div class="get-insurance-five__form__input">
                                    <input type="email" placeholder="Email address" name="email">
                                </div>
                                <div class="get-insurance-five__form__input">
                                    <select class="selectpicker" aria-label="Default select example">
                                        <option selected>Subject Type of Insurance</option>
                                        <option value="1">Car Insurance</option>
                                        <option value="2">Life Insurance</option>
                                        <option value="3">Home Insurance</option>
                                        <option value="4">Health Insurance</option>
                                    </select>
                                </div>
                                <div class="get-insurance-five__form__progress">
                                    <h4 class="get-insurance-five__form__progress__title">Limits of Balance:</h4>
                                    <div class="get-insurance__progress-range">
                                        <input type="text" class="balance-range-slider"
                                               data-hide-min-max="true" data-step="100"
                                               data-from="4000" data-min="0" data-max="7000"
                                               value="">
                                        <div class="get-insurance__balance-box">
                                            <p class="get-insurance__balance">$<span></span></p>
                                        </div>
                                        <input type="hidden" class="get-insurance__balance__input">
                                    </div><!-- /.get-insurance__progress-range -->
                                </div>
                                <button type="submit" class="thm-btn thm-btn--eight">Get a Quote Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- home-insurance -->
            <div class="tab" id="health-insurance">
                <div class="get-insurance-five__content">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="get-insurance-five__content__image">
                                <img src="webAssets/irha/images/update-15-2-2024/resources/health-insurance.jpg" alt="insur">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <form class="get-insurance-five__form">
                                <div class="get-insurance-five__form__input">
                                    <input type="text" placeholder="Full name" name="name">
                                </div>
                                <div class="get-insurance-five__form__input">
                                    <input type="email" placeholder="Email address" name="email">
                                </div>
                                <div class="get-insurance-five__form__input">
                                    <select class="selectpicker" aria-label="Default select example">
                                        <option selected>Subject Type of Insurance</option>
                                        <option value="1">Car Insurance</option>
                                        <option value="2">Life Insurance</option>
                                        <option value="3">Home Insurance</option>
                                        <option value="4">Health Insurance</option>
                                    </select>
                                </div>
                                <div class="get-insurance-five__form__progress">
                                    <h4 class="get-insurance-five__form__progress__title">Limits of Balance:</h4>
                                    <div class="get-insurance__progress-range">
                                        <input type="text" class="balance-range-slider"
                                               data-hide-min-max="true" data-step="100"
                                               data-from="4000" data-min="0" data-max="7000"
                                               value="">
                                        <div class="get-insurance__balance-box">
                                            <p class="get-insurance__balance">$<span></span></p>
                                        </div>
                                        <input type="hidden" class="get-insurance__balance__input">
                                    </div><!-- /.get-insurance__progress-range -->
                                </div>
                                <button type="submit" class="thm-btn thm-btn--eight">Get a Quote Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- health-insurance -->
        </div>
        <!-- tab-content -->
    </div>
</section>
<!--Get Insurance Five End-->