
@model greenEnergy.ViewModel.pageContentVM
@using Newtonsoft.Json;
@using greenEnergy.ViewModel;
@{


    string style = Model.dataList.SingleOrDefault(x => x.title == "style") == null ? "" : Model.dataList.SingleOrDefault(x => x.title == "style").title2;
    styleVM styleModel = new greenEnergy.ViewModel.styleVM();
    string finalStyle = "";
    if (!string.IsNullOrEmpty(style))
    {
        finalStyle = greenEnergy.Classes.methods.getMyStyle(style);
    }



}



@if (Request.Cookies["adminToken"] != null)
{
    @Html.Partial("/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Layouts/_controllerModalParent.cshtml", Model)
}<!--Main Slider Start-->
<section class="main-slider-eight" style="">

    <div class="main-slider-eight__carousel owl-carousel owl-theme thm-owl__carousel" data-owl-options='{
         "items" : 1,
         "margin" : 0,
         "smartSpeed" : 700,
         "loop" :true,
         "autoplay" : false,
         "autoplayTimeout" : 7000,
         "animateOut" : "fadeOut" ,
         "animateIn" : "fadeIn" ,
         "dots" :false,
         "nav" :true,
         "navText" : ["<span class=\"icon-right-arrow\"></span>","<span class=\"icon-right-arrow1\"></span>"],
                "autoplayHoverPause": false
                }'>




             @Html.Partial("/Views/Shared/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Layouts/_childContent.cshtml", Model)


            </div>
    <div class="main-slider-eight__shape-two wow fadeInUp" data-wow-delay="200ms" style="background-image: url(webAssets/irha/images//update-15-2-2024/shapes/slider-8-shape-2.png);"></div>
</section>
<!--Main Slider End-->

<script src="https://malsup.github.io/jquery.form.js"></script>

