

@model greenEnergy.ViewModel.pageContentVM
@using Newtonsoft.Json;
@using greenEnergy.ViewModel;
@{
    
    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";
    string image1 = Model.dataList.SingleOrDefault(x => x.title == "img_image1") == null ? "webAssets/irha/images/update-10-02-2023/resources/about-six-img-1.jpg" : baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image1").title2;


    string heading1 = Model.dataList.SingleOrDefault(x => x.title == "heading1") == null ? "از این قسمت به عنوان هدر بخش معرفی استفاده میشود" : Model.dataList.SingleOrDefault(x => x.title == "heading1").title2;
    string heading2 = Model.dataList.SingleOrDefault(x => x.title == "heading2") == null ? "از این قسمت به عنوان هدر بخش معرفی استفاده میشود" : Model.dataList.SingleOrDefault(x => x.title == "heading2").title2;
    string description = Model.dataList.SingleOrDefault(x => x.title == "description") == null ? "توضیحات در مورد این بخش میتواند  در اینجا قرار داده شود" : Model.dataList.SingleOrDefault(x => x.title == "description").title2;



}
<!--About Six Start-->
<section class="about-six" style="background-color:white">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-six__left">
                    <div class="about-six__img-box wow slideInLeft" data-wow-delay="100ms"
                         data-wow-duration="2500ms">
                        <div class="about-six__img">
                            <img src="@image1" alt="">
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-six__right">
                    <div class="section-title-three text-left">

                        <h2 class="section-title-three__title">@heading1</h2>
                    </div>
                    <p class="about-six__text-1">@heading2</p>
                    <p class="about-six__text-2">
                        @description
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<!--About Six End-->