  <!--News Seven Start-->
<section class="news-seven" style="background-color:white">
    <div class="container">
        <div class="section-title-six text-center">
            <h2 class="section-title-six__title">آخرین خبر ها را از ما بخواهید</h2>
        </div>
        <div class="row gutter-y-30">
            <!--News Seven Single Start-->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="00ms">
                <div class="news-seven__single">
                    <div class="news-seven__single__image">
                        <img src="webAssets/irha/images/update-15-2-2024/blog/news-7-1.jpg" alt="insur">
                        <a href="news-details.html" class="news-seven__single__image__link"></a>
                    </div>
                    <div class="news-seven__single__content">
                        <div class="news-seven__single__date">
                            <span class="news-seven__single__date__day">20</span>
                            <span class="news-seven__single__date__month">دی</span>
                        </div>
                        @*<div class="news-seven__single__comment">
                            <span class="fas fa-comments"></span><a href="news-details.html">2 </a>
                        </div>*@
                        <h3 style="margin-top:30px!important" class="news-seven__single__title"><a href="news-details.html">تیتر مرتبط با خبر سوم لیست</a></h3>
                    </div>
                    <a class="news-seven__single__rm" href="news-details.html">اطلاعات بیشتر<span class="insur-four-icon-right-arrow"></span></a>
                </div>
            </div>
            <!--News Seven Single End-->
            <!--News Seven Single Start-->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                <div class="news-seven__single">
                    <div class="news-seven__single__image">
                        <img src="webAssets/irha/images/update-15-2-2024/blog/news-7-2.jpg" alt="insur">
                        <a href="news-details.html" class="news-seven__single__image__link"></a>
                    </div>
                    <div class="news-seven__single__content">
                        <div class="news-seven__single__date">
                            <span class="news-seven__single__date__day">20</span>
                            <span class="news-seven__single__date__month">دی</span>
                        </div>
                        @*<div class="news-seven__single__comment">
                            <span class="fas fa-comments"></span><a href="news-details.html">2 Comment</a>
                        </div>*@
                        <h3 style="margin-top:30px!important" class="news-seven__single__title"><a href="news-details.html">تیتر مرتبط با خبر دوم لیست</a></h3>
                    </div>
                    <a class="news-seven__single__rm" href="news-details.html">اطلاعات بیشتر<span class="insur-four-icon-right-arrow"></span></a>
                </div>
            </div>
            <!--News Seven Single End-->
            <!--News Seven Single Start-->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                <div class="news-seven__single">
                    <div class="news-seven__single__image">
                        <img src="webAssets/irha/images/update-15-2-2024/blog/news-7-3.jpg" alt="insur">
                        <a href="news-details.html" class="news-seven__single__image__link"></a>
                    </div>
                    <div class="news-seven__single__content">
                        <div class="news-seven__single__date">
                            <span class="news-seven__single__date__day">20</span>
                            <span class="news-seven__single__date__month">دی</span>
                        </div>
                        <div class="news-seven__single__comment">
                            <span class=""></span><a href="news-details.html"></a>
                        </div>
                        <h3 style="margin-top:30px!important" class="news-seven__single__title"><a href="news-details.html">تیتر مرتبط با خبر اول لیست</a></h3>
                    </div>
                    <a class="news-seven__single__rm" href="news-details.html">اطلاعات بیشتر<span class="insur-four-icon-right-arrow"></span></a>
                </div>
            </div>
            <!--News Seven Single End-->
        </div>
    </div>
</section>
<!--News Seven End-->