@model greenEnergy.ViewModel.pageContentVM
@using Newtonsoft.Json;
@using greenEnergy.ViewModel;
@{


    string header = Model.dataList.SingleOrDefault(x => x.title == "header") == null ? "عنوان قسمت مورد نظر وارد می شود" : Model.dataList.SingleOrDefault(x => x.title == "header").title2;
    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";
    string userimage = string.IsNullOrEmpty(Model.dataList.SingleOrDefault(x => x.title == "img_image").title2) ? "/webAssets/green2/img/11.jpg" : baseImage + Model.dataList.SingleOrDefault(x => x.title.Contains("img_image")).title2;
    string html_title = string.IsNullOrEmpty(Model.dataList.SingleOrDefault(x => x.title == "title").title2) ? "slider title" : Model.dataList.SingleOrDefault(x => x.title == "title").title2;
    string html_description = string.IsNullOrEmpty(Model.dataList.SingleOrDefault(x => x.title == "description").title2) ? "slider title" : Model.dataList.SingleOrDefault(x => x.title == "description").title2;
    string url = string.IsNullOrEmpty(Model.dataList.SingleOrDefault(x => x.title == "url").title2) ? "slider title" : Model.dataList.SingleOrDefault(x => x.title == "url").title2;

}
<div class="item">
    <div class="services-eight__single">
        <div class="services-eight__single__image">
            <img src="@userimage" alt="insur">
        </div>
        <div class="services-eight__single__middle">
            <div class="services-eight__single__icon"><span style="font-size:19px" class="insur insur-four-icon-arrow-righ-two"></span></div>
            <h3 class="services-eight__single__title"><a href="life-insurance.html">@html_title</a></h3>
        </div>
        <p class="services-eight__single__text">
            @html_description
        </p>
    </div>
</div>