
@model greenEnergy.ViewModel.pageContentVM
@using Newtonsoft.Json;
@using greenEnergy.ViewModel;
@{

    string baseImage = "/Images/" + @System.Configuration.ConfigurationManager.AppSettings["name"] + "/Uploads/";

    string image1 = Model.dataList.SingleOrDefault(x => x.title == "img_image1").title2 == "" ? "webAssets/irha/images/update-15-2-2024/resources/author-1.jpg" : baseImage + Model.dataList.SingleOrDefault(x => x.title == "img_image1").title2;
    string name1 = Model.dataList.SingleOrDefault(x => x.title == "name1").title2 == "" ? "نام فرد" : Model.dataList.SingleOrDefault(x => x.title == "name1").title2;
    string title1 = Model.dataList.SingleOrDefault(x => x.title == "title1").title2 == "" ? "تایتل فرد" : Model.dataList.SingleOrDefault(x => x.title == "title1").title2;
    string desc1 = Model.dataList.SingleOrDefault(x => x.title == "desc1").title2 == "" ? "این بخش می تواند به عنوان توضیحات تمیلی استفاده شود" : Model.dataList.SingleOrDefault(x => x.title == "desc1").title2;



}

<div class="item">
    <div class="testimonial-eight__single">
        <div class="testimonial-eight__single__shape" style="background-image: url(webAssets/irha/images/update-15-2-2024/shapes/testimonial-bg-shape.png);"></div>
        <div class="testimonial-eight__single__author">
            <img src="@image1" alt="insur">
            <h4 class="testimonial-eight__single__name">@name1</h4>
            <p class="testimonial-eight__single__designation">@title1</p>
        </div>
        <p class="testimonial-eight__single__text">
            @desc1
        </p>
        <div class="testimonial-eight__single__rating">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
    </div>
</div>
