  <!--Why Choose Seven Start-->
<section class="why-choose-seven" style="background-image: url(webAssets/irha/images/update-15-2-2024/shapes/why-choose-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="why-choose-seven__content">
                    <div class="section-title-six text-left">
                        <span class="section-title-six__tagline"><span class="section-title-six__tagline__icon"><i class="insur-four-icon-check"></i></span>Why Choose Us</span>
                        <h2 class="section-title-six__title">Why You should Choose Our<br> Insurance Policy's</h2>
                    </div>
                    <p class="why-choose-seven__content__text">
                        There are many variations of passages of Lorem Ipsum avalable, but the majority have suffered alteration in some form,
                        by injected humour, or randomised words which don't look even slightly believable.
                    </p>
                    <div class="why-choose-seven__box-wrapper">
                        <div class="why-choose-seven__box">
                            <div class="why-choose-seven__box__top">
                                <div class="why-choose-seven__box__icon"><span class="insur-four-icon-jar"></span></div>
                                <h3 class="why-choose-seven__box__title">Save Your<br> Money</h3>
                            </div>
                            <p class="why-choose-seven__box__text">There are many variations<br> of passages of Lorem </p>
                        </div>
                        <div class="why-choose-seven__box-wrapper__image float-bob-y">
                            <img src="webAssets/irha/images/update-15-2-2024/resources/why-choose-seven-2.png" alt="insur">
                        </div>
                    </div>
                    <div class="why-choose-seven__wrapper">
                        <a href="about.html" class="thm-btn thm-btn--eight">Discover More</a>
                        <div class="why-choose-seven__customer">
                            <div class="why-choose-seven__customer__number">
                                <span class="odometer" data-count="30">00</span>
                                <span class="why-choose-seven__customer__nuber__count">K</span>
                            </div>
                            <p class="why-choose-seven__customer__text">Satisfied<br> Customer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="insur-stretch-element-inside-column">
                    <div class="why-choose-seven__image wow slideInRight" data-wow-delay="100ms">
                        <img src="webAssets/irha/images/update-15-2-2024/resources/why-choose-seven-1.jpg" alt="insur">
                    </div>
                    <div class="why-choose-seven__shape">
                        <img src="webAssets/irha/images/update-15-2-2024/shapes/why-choose-shape.png" alt="insur">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Why Choose Seven End-->